{% import 'macros/_utils' as utils %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_cards' as cards %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_controls' as controls %}

{% set entrySection = entry.section|replace('Index','')|slugify %}
{% set excludeMenu = ['opener'] %}
{% set menuList = entry.getFieldLayout().getTabs() %}

<section class="interiorIntro interiorIntro--{{ entrySection }}">
    {% if menuList %}
    <ul class="interiorIntro-menu interiorIntro-menu--{{ entrySection }}">
        {% for menuItem in menuList if menuItem.name|slugify not in excludeMenu %}
        {% set menuName,menuHandle = menuItem.name,menuItem.name|camel %}
        <li class="interiorIntro-menu-item">
            <a href="#{{ menuHandle }}">{{ menuName }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{# About Us Interior Modules #}
{% for menuItem in menuList if menuItem.name|slugify not in excludeMenu %}
{% set modName,modHandle,modSlug = menuItem.name,menuItem.name|camel,menuItem.name|slugify %}
{% set modFields = menuItem.getFields() %}

{% switch modSlug %}

{% case 'director-s-statement' %}
{% set statement = entry.directorsStatement is not null and entry.directorsStatement|length > 0 ? entry.directorsStatement[0] : null %}
{% set abstract = statement and statement.intro != '' ? statement.intro : null %}      
{% set body = statement and statement.full != '' ? statement.full : null %}
{% set statementImage = statement and (statement.image is not null and statement.image.one()) ? statement.image : null %}

<section class="interiorMod interiorMod--{{ entrySection }} interiorMod--{{ modSlug }}" id="{{ modHandle }}">

    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>

    <div class="interiorSummary interiorSummary--{{ entrySection }}">
        <figure class="interiorSummary-frame interiorSummary-frame--{{ entrySection }}">
            <picture>
            {% if statementImage %}
                {% set statementSizes = utils.getAssetSizes('about','director')|json_decode %}
                {{ assets.assetCard('interiorSummary-frame',statementImage,statementSizes) }}
            {% endif %}
            <picture>
            <figcaption class="interiorSummary-caption">{{ statementImage.caption }}</figcaption>
        </figure>
        <div class="interiorSummary-main interiorSummary-main--directors">

            {% if abstract %}
            <div class="interiorSummary-redactor interiorSummary-redactor--abstract">{{ abstract|raw }}</div>
            {% endif %}

            {% if body %}
            {% set isAccordion = (body and abstract) %}

            {% if isAccordion %}
            {# <a class="interiorSummary-accordion interiorSummary-accordion--{{ entrySection }}" href="" role="">
                <span class="interiorSummary-accordion-label">Full Summary</span>
                <svg class="interiorSummary-accordion-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ expandPath) }}"></use>
                </svg>
            </a> #}
            {% endif %}

            <div class="interiorSummary-redactor interiorSummary-redactor--body">{{ body|raw }}</div>
            {% endif %}
        </div>
    </div>
</section>

{% case 'impact' %}   
{% set body = entry.body is not null and entry.body != '' ? entry.body : null %}
{% set impactImage = entry.impactImage is not null and entry.impactImage.one() ? entry.impactImage : null %}
{% set impactCount = entry.impactModule is not null ? entry.impactModule|length : null %}
{% set impactModule = impactCount ? entry.impactModule : null %}

<section class="interiorMod interiorMod--{{ entrySection }} interiorMod--{{ modSlug }}" id="{{ modHandle }}">

    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>

    <div class="interiorMod-wrap interiorMod-wrap--{{ modSlug }}">
        <figure class="interiorMod-frame interiorMod-frame--{{ modSlug }}">
            <picture class="interiorMod-asset">
                {% if impactImage %}  
                {% set impactSizes = utils.getAssetSizes('about','impact')|json_decode %}
                {{ assets.assetCard('interiorMod-asset',impactImage,impactSizes) }}
                {% endif %}
            </picture>
            <figcaption class="interiorMod-frame-caption">This is my caption{{ impactImage.caption }}</figcaption>
        </figure>
        <div class="interiorMod-main interiorMod-main--{{ modSlug }}">
            <div class="interiorMod-main-content">
                {% if body %}
                <div class="interiorMod-redactor interiorMod-redactor--body">{{ body|raw }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if impactModule %}

    {% set metricList = [] %}
    {% set highlightList = [] %}
    {% for mtx in impactModule if mtx.type == 'metrics' %}
        {% set metricList = metricList|merge([mtx]) %}
    {% endfor %}
    {% for mtx in impactModule if mtx.type == 'highlight' %}
        {% set highlightList = highlightList|merge([mtx]) %}
    {% endfor %} 
    {% set metricCount, highlightCount = metricList|length, highlightList|length %}
   
    <div class="interiorMod-matrix interiorMod-matrix--{{ impactCount }}">
        <div class="interiorMod-list interiorMod-list--2">
            <div class="interiorMod-list interiorMod-list--2">
                {% for mtx in metricList %}
                <aside class="interiorMod-metric">
                    <strong class="interiorMod-metric-stat">{{ mtx.statistic }}</strong>
                    <div class="interiorMod-metric-caption">{{ mtx.caption }}</div>
                </aside>
                {% endfor %}
            </div>
            <div class="interiorMod-list interiorMod-list--highlight">
                {% set highlightName = 'interiorMod-card' %}
                {% set highlightObj = {
                    'cardVariant': 'highlight',
                    'showContent': false,
                    'assetSizes': utils.getAssetSizes('about','impact')
                }%}
                {% for mtx in highlightList %}
                {% set highlightEntry = mtx.project[0] %}
                {{ cards.cardArticle(highlightName,highlightEntry,highlightObj) }}
                {% endfor %}
            </div>
        </div>
        
    </div>
    {% endif %}
</section>

{% case 'people' %}  
{% set staff = craft.entries().section('people') .search('personType:staff').all() %}
{% set advisors = craft.entries().section('people') .search('personType:faculty-advisory-board').all() %}
{% if staff or advisors %}
<section class="interiorMod interiorMod--{{ entrySection }} interiorMod--{{ modSlug }}" id="{{ modHandle }}">

    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>

    {% if staff %}
    <section class="interiorMod-people interiorMod-people--staff">
        <h4 class="interiorMod-subtitle">Our Team</h4>
        <div class="interiorMod-list interiorMod-list--4">
            {% set staffName = 'interiorMod-card' %}
            {% set staffObj = {
                'cardVariant': 'staff',
                'showContent': false,
                'assetSizes': utils.getAssetSizes('about','people')
            }%}
            {% for staffEntry in staff %}
            {{ cards.cardArticle(staffName,staffEntry,staffObj) }}
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% if advisors %}
    <section class="interiorMod-people interiorMod-people--advisors">
        <h4 class="interiorMod-subtitle">Faculty Advisory Board</h4>
        <div class="interiorMod-list interiorMod-list--4">
            {% set advisorName = 'interiorMod-card' %}
            {% set advisorObj = {
                'cardVariant': 'advisors',
                'showContent': false,
                'assetSizes': utils.getAssetSizes('about','people')
            }%}
            {% for advisorEntry in advisors %}
            {{ cards.cardArticle(advisorName,advisorEntry,advisorObj) }}
            {% endfor %}
        </div>
    </section>
    {% endif %}
</section>
{% endif %}

{% case 'application-process' %} 
{% set appCards = entry.cardBlock is not null and entry.cardBlock|length > 0 ? entry.cardBlock : null %}
{% if appCards %}
<section class="interiorMod interiorMod--{{ entrySection }}" id="{{ modHandle }}">
    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>

    <div class="interiorMod-list interiorMod-list--3">
        {% set appName = 'interiorMod-cardlette' %}
        {% set appObj = {
            'cardVariant': 'application',
            'showContent': false,
            'assetSizes': utils.getAssetSizes('about','publications')
        }%}
        {% for appEntry in appCards %}
            {{ cards.cardMini(appName,appEntry,appObj) }}
        {% endfor %}
    </div>
</section>
{% endif %}

{% case 'visit-the-collegium' %}
{% set directions = entry.directions is not null and entry.directions|length > 0 ? entry.directions : null %}

<section class="interiorMod interiorMod--{{ entrySection }}" id="{{ modHandle }}">
    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>
    
    {% if directions %}
    {% set details = directions.details != "" ? directions.details : null %}
    {% set car = directions.car != "" ? directions.car : null %}
    {% set transit = directions.publicTransit != "" ? directions.publicTransit : null %}
    <div>
        {{ details ?? details }}
    </div>
    <div>
        <h4>By Car</h4>
        {{ car ? car }}
    </div>
    <div>
        <h4>Public Transit</h4>
        {{ transit ? transit }}
    </div>
    {% endif %}
</section>

{% case 'news-announcements' %}
{% set news = craft.entries().section('news').all() %}
<section class="interiorMod interiorMod--{{ entrySection }}" id="{{ modHandle }}">
    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>
    <div class="interiorMod-list interiorMod-list--4">
        {% set newsName = 'interiorMod-card' %}
        {% set newsObj = {
            'cardVariant': 'news',
            'showContent': false,
            'assetSizes': utils.getAssetSizes('about','news')
        }%}
        {% for newsEntry in news %}
            {{ cards.cardArticle(newsName,newsEntry,newsObj) }}
        {% endfor %}
    </div>
</section>

{% case 'publications' %}
{% set pubs = entry.publicationBlock is not null and entry.publicationBlock|length > 0 ? entry.publicationBlock : null %}
<section class="interiorMod interiorMod--{{ entrySection }}" id="{{ modHandle }}">
    <h3 class="interiorMod-title interiorMod-title--{{ entrySection }}">{{ modName }}</h3>
    <div class="interiorMod-list interiorMod-list--4">
        {% set pubName = 'interiorMod-cardlette' %}
        {% set pubObj = {
            'cardVariant': 'publications',
            'showContent': false,
            'assetSizes': utils.getAssetSizes('about','publications')
        }%}
        {% for pubEntry in pubs %}
        {{ cards.cardMini(pubName,pubEntry,pubObj) }}
        {% endfor %}
    </div>
</section>

{% endswitch %}
{% endfor %}