/* _actions.scss */
@use "../utils/_utils" as *;
@use "sass:string";
@use "sass:math";

/* ---------------------------------------------------------------------
  Action Button: Structure
  See templates/macros/_actions.html for markup
------------------------------------------------------------------------ */
@mixin actionButton($selector,$color-primary,$color-secondary,$default:true) {
    $v-padding: 1.5em;   
    $h-padding: 2em;
    $border-size: 1px; 
    $icon-size: 20px;

    #{$selector} {
        @include flexParent($display:inline-flex,$values:row nowrap);
        font-size: 1rem;
        margin-right: 4em;

        &:not(:first-of-type) {
            margin-top: 2em;
        }

        &--ghost {
            border-radius: 5px;
            border: $border-size solid transparent;
            padding: calc(#{$v-padding} - #{$border-size}) calc(#{$h-padding} - #{$border-size});
            position: relative;

            // prevent jumps on hover
            &::after {
                transition: border-color 0.5s ease-in;
                content: "";
                position: absolute;
                top: -5px;
                left: -5px;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                border: 4px solid transparent;
                border-radius: 9px; // account for border diff
            }
        }

        &--link {
            position: relative;

            // prevent jumps on hover
            &::after {
                transition: all 0.5s ease-in;
                content: "";
                position: absolute;
                top: -4px;
                left: -4px;
                width: calc(100% + 8px);
                height: calc(100% + 12px);
                background: none;
            }
        }

        // TODO: make accessible
        // https://www.a11yproject.com/posts/2013-01-25-never-remove-css-outlines/
		&:focus {
			outline: none;
		}

		&:link,
		&:visited,
		&:hover,
		&:active {
			text-decoration: none;
		}

        &-label,
        &-icon {
            position: relative;
            z-index: 1;
            @include flexChild(0 1 auto);
        }

        &-icon {
            margin-left: 1em;
            height: $icon-size;
            width: $icon-size;
        }

        &:hover {
            cursor: pointer;
		}
    
    }

    @if $default != false {
		@include actionButton--default($selector,$color-primary,$color-secondary);
	}

}

/* -------------------------------------------------------------------------------
 Action Button: Default Presentation
---------------------------------------------------------------------------------- */
@mixin actionButton--default($selector,$color-primary,$color-secondary) {

    #{$selector} {

        &--link {
            color: $color-primary;

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-color: $color-primary;
            }

            &:hover {
                color: getColor('white');
                text-decoration-color: getColor('white');;
                text-decoration-thickness: 4px;

                &::after {
                    background: getColor('red');
                }

                #{$selector}-icon {
                    fill: getColor('white');
                }
                
            }

            #{$selector}-icon {
                fill: $color-primary;
            }

        }

        &--ghost {
            border-color: $color-primary;
            color: $color-primary;

            &:hover {
                background: getColor('red');
                color: getColor('white');
                border-color: getColor('red');

                &::after {
                    border-color: getColor('white');
                }

                #{$selector}-icon {
                    fill: getColor('white');
                }

            }

            #{$selector}-icon {
                fill: $color-primary;
            }

        }

        &-label {
            @include getType('action');
        }

        &-trigger {  
            text-align: center;
            text-decoration: none;
        }

    }

}
