/* _cards.scss */
@use "../utils/_utils" as *;
@use "_assets" as *;
@use "_controls" as *;
@use "_actions" as *;
@use "sass:string";
@use "sass:math";

/* ---------------------------------------------------------------------
  Card Directory: Structure
  See templates/macros/_cards.html for markup
------------------------------------------------------------------------ */
@mixin cardDirectory($selector,$color-primary:null,$color-secondary:null,$default:true,$theme:false) {

    @include controlTags(#{$selector}-topics,$color-primary,$color-secondary,$default,$theme);

    #{$selector} {
        font-size: 1rem;
        margin: 0 0 6em 0; //search

        @include breakpoint(sm) {
            margin: 0 0.25em 8em 0.25em;
        }

        &-title {
            $mb: math.div(10,20);
            @include getType('h4-sans');
            margin-bottom: #{$mb}em;

            a:link,
            a:visited,
            a:hover,
            a:active {
                text-decoration: none;
            }

        }

        &-asset {
            $asset: &;
            margin-bottom: 2em;

            &-image {
                @at-root {
                    @include assetItem(#{$asset});
                }
            }
        }
        
        &-team {
            margin-bottom: 1em;

            &-title {
                @include visuallyHide;
            }

            &-item {
                display: inline-block;
                @include getType('caption');
            }
        }

        &-caption {
            @include getType('caption');
        }

        &-dateblock {
            $mb: math.div(10,16);
            @include getType('caption');
            display: block;
            margin-bottom: #{$mb}em;

            // Time circle
            span {
                display: inline-block;
                font-size: 0.75em;
                vertical-align: text-top;
            }

        }

        &-topics {
            &-title {
                @include visuallyHide;
            }
        }

        &-buttons {
            // action container
            margin-top: 1em;
        }

    }

    @if $default != false {
        @if $theme == true {
            @each $pg, $color in $pages {
                $color-primary: nth(getTheme($color),1);
                $color-secondary: nth(getTheme($color),2);
    
                @at-root {
                    #{$selector}--#{$pg} {
                        @include cardDirectory--default($selector,$color-primary,$color-secondary);
                    }
                }
            }
        }
        @else {
            @include cardDirectory--default($selector,$color-primary,$color-secondary);
        }
    }


}

/* -------------------------------------------------------------------------------
 Card Directory: Default Presentation
---------------------------------------------------------------------------------- */
@mixin cardDirectory--default($selector,$color-primary,$color-secondary) {

    @include actionButton(#{$selector}-action,$color-primary,$color-secondary);

    #{$selector} {

        &-title {
            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $color-primary;
            }
        }

        &-team {
            &-name {
                &:link,
                &:visited,
                &:hover,
                &:active {
                    color: $color-primary;
                }
            }
        }

    }

}

/* ---------------------------------------------------------------------
  Card Feature: Structure
  See templates/macros/_cards.html for markup
------------------------------------------------------------------------ */
@mixin cardFeature($selector,$color-primary:null,$color-secondary:null,$default:true,$theme:false) {
   
    @include controlTags(#{$selector}-topics,$color-primary,$color-secondary,$default,$theme);
    @include assetItem(#{$selector}-img);
    
    #{$selector} {
        padding: 4em;
        font-size: 1rem;
        content:"#{$selector}";
    
        &-label {
            @include getType('h1-normal');
        }
    
        &-title {
            $mb: math.div(20,40);
            @include getType('h2-sans');
            margin-bottom: #{$mb}em;
        }
    
        &-content {
            margin: 8em 0 12em 0;
            
            @include breakpoint(sm) {
                @include flexParent();

                > * {
                    @include flexChild(0 1 50%);
                }
            }
            
        }
    
        &-asset {
            margin-bottom: 2em;
            @include breakpoint(sm) {
                margin-bottom: 0;
            }
        }

        &-details {
            @include alignSelf(center);

            @include breakpoint(sm) {
                padding: 0 4em 0 8em;
            }

        }
    
        &-date {
            @include getType('p');
            
            @include breakpoint(sm) {
                text-align: center;
            }
        }
    
        &-buttons {
            @include flexParent();
            margin-top: 4em;
    
            > * {
                @include flexChild();
            }

            @include breakpoint(sm) {
                @include justifyContent(center);
            }
    
        }

        &-topics {

            &-title {
                @include visuallyHide;
            }
    
            &-list {

                @include breakpoint(sm) {
                    @include justifyContent(center);
                }
            }

        }

        &-team {

            &-title {
                @include visuallyHide;
            }

            &-list {				
                @include flexParent();
                margin-bottom: 1em;

                @include breakpoint(sm) {
                    @include justifyContent(center);
                }
            }

            &-item {
                @include getType('h4-sans');
            }

        }        

    }

    @if $default != false {
        @if $theme == true {
            @each $pg, $color in $pages {
                $color-primary: nth(getTheme($color),1);
                $color-secondary: nth(getTheme($color),2);
    
                @at-root {
                    #{$selector}--#{$pg} {
                        @include cardFeature--default(#{$selector},$color-primary,$color-secondary);
                    }
                }
            }
        }
        @else {
            @include cardFeature--default($selector,$color-primary,$color-secondary);
        }
    }
}


/* -------------------------------------------------------------------------------
 Card Feature: Default Presentation
---------------------------------------------------------------------------------- */
@mixin cardFeature--default($selector,$color-primary,$color-secondary) {

    @include actionButton(#{$selector}-action,$color-secondary,$color-primary);

    #{$selector} {
        background: $color-primary;

        &-label,
        &-title,
        &-date {
            color: $color-secondary;
        }
    
        &-team {

            &-item {
                color: $color-secondary;
            }

            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $color-secondary;
            }

        }

        &-topics {
    
            &-trigger {
                @include getType('fine');
            }
    
        }

        &-buttons {
            @include flexParent();
            @include justifyContent(center);
            margin-top: 4em;
    
            > * {
                @include flexChild();
            }
        }

    }

}

/* ---------------------------------------------------------------------
  Card Bio: Structure
  See templates/macros/_cards.html for markup
------------------------------------------------------------------------ */
@mixin cardBio($selector,$color-primary:null,$color-secondary:null,$default:true,$theme:false) {

    @include controlTags(#{$selector}-topics,$color-primary,$color-secondary,$default,$theme);

    #{$selector} {
        $image-size: 140px;
        font-size: 1rem;
        margin: 0 0 6em 0;

        @include breakpoint(sm) {
            @include flexParent();
            border-top: 1px solid $color-primary;
            border-bottom: 1px solid transparent;
            margin: 0 0.25em 0 0.25em;
            padding: 2em 0 4em 0;
        }

        &-details {
            $image-diff: calc(100% - $image-size);
            margin-top: 2em;

            @include breakpoint(sm) {
                $flex: calc($image-diff - 2em);
                margin: 0 0 0 2em;
                @include flexChild(0 1 $flex);
            }

        }

        &-title {
            $mb: math.div(10,20);
            @include getType('h4-sans');
            margin-bottom: #{$mb}em;

            a:link,
            a:visited,
            a:hover,
            a:active {
                text-decoration: none;
            }

        }

        &-subtitle {
            $mb: math.div(10,20);
            //@include getType('h4-italic');
            @include getType('caption');
            font-style: italic;
            margin-bottom: #{$mb}em;

            a:link,
            a:visited,
            a:hover,
            a:active {
                text-decoration: none;
            }
        }

        &-asset {
            $asset: &;

            @include breakpoint(sm) {
                // TODO: not this
                height: $image-size;
                width: $image-size;
                @include flexChild(0 1 $image-size);

                &--ghost {
                    margin-left: -2em;
                }

            }

            &-image {
                @at-root {
                    @include assetItem(#{$asset});
                }
            }

        }
        
        &-team {
            margin-bottom: 1em;

            &-title {
                @include visuallyHide;
            }

            &-item {
                display: inline-block;
                @include getType('caption');
            }
        }

        &-caption {
            @include getType('caption');
        }

        &-dateblock {
            $mb: math.div(10,16);
            @include getType('caption');
            display: block;
            margin-bottom: #{$mb}em;

            // Time circle
            span {
                display: inline-block;
                font-size: 0.75em;
                vertical-align: text-top;
            }

        }

        &-topics {
            &-title {
                @include visuallyHide;
            }
        }

        &-buttons {
            // action container
            margin-top: 1em;
        }

    }

    @if $default != false {
        @if $theme == true {
            @each $pg, $color in $pages {
                $color-primary: nth(getTheme($color),1);
                $color-secondary: nth(getTheme($color),2);
    
                @at-root {
                    #{$selector}--#{$pg} {
                        @include cardBio--default($selector,$color-primary,$color-secondary);
                    }
                }
            }
        }
        @else {
            @include cardBio--default($selector,$color-primary,$color-secondary);
        }
    }


}

/* -------------------------------------------------------------------------------
 Card Bio: Default Presentation
---------------------------------------------------------------------------------- */
@mixin cardBio--default($selector,$color-primary,$color-secondary) {

    @include actionButton(#{$selector}-action,$color-primary,$color-secondary);

    #{$selector} {
        border-top-color: $color-primary;
        border-bottom-color: $color-primary;

        &-title {
            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $color-primary;
            }
        }

        &-team {
            &-name {
                &:link,
                &:visited,
                &:hover,
                &:active {
                    color: $color-primary;
                }
            }
        }

    }

}