/* _controls.scss */
@use "../utils/_utils" as *;
@use "sass:math";

/* ---------------------------------------------------------------------
  Select Control: Structure
  See templates/macros/_controls.html for markup
------------------------------------------------------------------------ */
@mixin controlSelect($selector,$icon-size:20px,$default:true) {
    // TODO: 
    // 1. integrate JS to get this the rest of the way for WCAG
    $transition: 280ms all 120ms ease-out;
    $border-size: 1px;

    #{$selector} {
        font-size: 1rem;
        
        &-title {
            margin: 0 0 1em 0;
        }

        &-container {
            display: grid;
            place-items: start;
        }

        &-list {
            display: grid;
            grid-auto-flow: column;
            margin: 0;
            padding: 0;
            list-style: none; 
        }   

        &-dropdown {
            margin: 0 2em 0 0;
            position: relative;
        }        

        &-button {
            @include resetNativeButton;
            @include alignItems(center);
            border: $border-size solid transparent;
            display: inline-flex;
            padding: 0.8em 1.5em;
            transition: $transition;
            
            #{$selector}-dropdown:hover & {
                border-bottom: none;
            }
        }

        &-label {
            padding: 0 3em 0 0;
        }

        &-menu {
            border: $border-size solid transparent;
            border-top: none;
            min-width: 15ch;
            width: 100%;
            padding: 1em 2em;
            position: absolute;
            top: calc(100% - 1em);
            left: 50%;
            transform: rotateX(-90deg) translateX(-50%);
            transform-origin: top center;
            transition: $transition;
            opacity: 0.3;
            visibility: hidden;
            z-index: 2;
    
            #{$selector}-dropdown:hover & {
                opacity: 1;
                transform: rotateX(0) translateX(-50%);
                visibility: visible;
            }

        }

        &-icon {
            display: inline-block;
            height: $icon-size;
            width: $icon-size;
        }

        &-item {
            
            a:link,
            a:visited,
            a:hover,
            a:active {
                display: block;
            }

        }

    }

    @if $default != false {
		@include controlSelect--default($selector);
	}

}

/* -------------------------------------------------------------------------------
 Select Control: Default Presentation
---------------------------------------------------------------------------------- */
@mixin controlSelect--default($selector) {
    $default-color: getColor('black');
    $border-radius: 10px;
    $border-default-color: getColor('black');
    $menu-default-bg: getColor('white');

    #{$selector} {
        
        &-button {
            border-color: $default-color;
            border-radius: $border-radius;
            background: none;

            #{$selector}-dropdown:hover & {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &-menu {
            border-color: $border-default-color;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            background: $menu-default-bg;
        }

        &-item {
            
            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $default-color;
                text-decoration: none;
            }

        }


    }

}

/* -------------------------------------------------------------------------------
 Sort Control: Structure
---------------------------------------------------------------------------------- */
@mixin controlSort($selector,$icon-size: 20px,$default:true) {
    $border-size: 2px;

    #{$selector} {

        &-title {
            margin: 0 0 1em 0;
        }

        &-trigger {
            @include flexParent();

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
            }
        }

        &-label {
            position: relative;

            &::after {
                content: "";
                width: 100%;
                bottom: 0;
                left: 0;
                position: absolute;
                border-bottom: $border-size solid transparent;
            }
        }

        &-icon {
            @include flexChild();
            height: $icon-size;
            width: $icon-size;
        }

    }

    @if $default != false {
		@include controlSort--default($selector);
	}

}

/* -------------------------------------------------------------------------------
 Sort Control: Default Presentation
---------------------------------------------------------------------------------- */
@mixin controlSort--default($selector) {
    $action-default-color: getColor('blue');

    #{$selector} {

        &-trigger {
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: $action-default-color;
            }
        }

        &-label {
            &::after {
                border-bottom-color: $action-default-color;
            }
        }

        &-icon {
            fill: $action-default-color;
        }

    }

}


/* -------------------------------------------------------------------------------
 Layout Control: Structure
---------------------------------------------------------------------------------- */
@mixin controlLayout($selector,$height:25px,$width:25px,$icon-size:20px,$default:true) {

    $border-size: 2px;
    $radio-size: 15px;
    $color: getColor('black',10);
    $triggerThreshold: 250%;

    #{$selector} {

        &-title {
            margin: 0 0 1em 0;

            &--right {
                text-align: right;
            }
        }
        
        &-list {
            @include flexParent($display:inline-flex);
        }
        
        &-item {
            @include flexParent();
            @include flexChild();
            @include alignItems(center);
            font-size: 1rem;

            &:not(:first-child)::before {
                content: '';
                border-left: 1px solid transparent;
                height: 16px;
                margin: 0 0 0 1em;
                padding: 0 0 0 1em;
            }
        }

        &-name {
            margin: 0 0 0 0.5em;
        }

        &-ghost {
            @include visuallyHide;
        }

        &-control {
            height: $height;
            margin: 0.2em;
            width: $width;
            position: relative;

            &-icon {
                display: inline-block;
                height: $icon-size;
                width: $icon-size;
                fill: black;

                #{$selector}-label--faux & {
                    @include totallyHide;
                }

            }

        }

        &-input, &-label {
            display: block;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        &-label {
            z-index: 1;
            position: relative;
            
            &--faux {
                border: $border-size solid transparent;
                border-radius: 100%;
            }

        }

        &-input {
            width: $triggerThreshold;
            opacity: 0;
            z-index: 2;
            position: absolute;

            &:checked + #{$selector}-label--faux {
                // height: calc(100% - #{$border-size});
                // width:  calc(100% - #{$border-size});

                &::after {
                    display: block;
                    content: '';
                    height: $radio-size;
                    width: $radio-size;
                    position: relative;
                    top: 3px;
                    left: 3px;
                    border-radius: 100%;
                }

            }

            &:hover {
                cursor: pointer;
            }

        }
    }

    @if $default != false {
		@include controlLayout--default($selector,$icon-size);
	}

}

/* -------------------------------------------------------------------------------
 Layout Control: Default Presentation
---------------------------------------------------------------------------------- */
@mixin controlLayout--default($selector,$icon-size) {

    $item-border-color: getColor('gray',10);
    $label-border-color: getColor('black',10);
    $bg-color: getColor('black',10);

    #{$selector} {

        &-item {
            &:not(:first-child)::before {
                border-left-color: $item-border-color;
            }
        }

        &-input {
            &:checked + #{$selector}-label--faux {
                &::after {
                    background: $bg-color;
                }
            }
        }

        &-label {
            &--faux {
                border-color: $label-border-color;
                background-color: transparent;
            }
        }

        &-icon {
            display: inline-block;
            height: $icon-size;
            width: $icon-size;
            fill: black;

            #{$selector}-label--faux & {
                @include totallyHide;
            }
        }

    }

}


/* -------------------------------------------------------------------------------
 Status Control: Structure
---------------------------------------------------------------------------------- */
@mixin controlStatus($selector,$color:getColor('black'),$default:true) {

    $size: 20px;
    $border-size: 1px;
    $triggerThreshold: 250%;

    #{$selector} {
        @include flexParent();
        margin-bottom: 2em;
        font-size: 1rem;

        @include breakpoint(md) {
            margin-bottom: 0;
        }
        

        &._is-hidden {
            @include totallyHide;
        }

        &-control {
            @include flexParent();
            height: $size;
            position: relative;
        }

        &-input { 
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            z-index: 2;
            position: absolute;

            &:hover {
                cursor: pointer;
            }

        }

        &-checkbox,
        &-label {
            position: relative;
            z-index: 1;  
        }

        &-checkbox {
            border: 1px solid transparent;
            display: block;
            height: $size;
            width: $size;
            margin-right: 1em;
        }

        &-icon {
            height: $size;
            width: $size;
            @include totallyHide;

            #{$selector}-input:checked + #{$selector}-checkbox & {
                @include totallyShow;
            }

        }

        &-label {
            @include getType('caption');
        }

    }

    @if $default != false {
		@include controlStatus--default($selector,$color);
	}

}

/* -------------------------------------------------------------------------------
 Status Control: Default Presentation
---------------------------------------------------------------------------------- */
@mixin controlStatus--default($selector,$color) {

    #{$selector} {
        &-checkbox {
            border-color: $color;
        }
        &-icon {
            fill: $color;
        }
    }
}

/* -------------------------------------------------------------------------------
 Pagination Control: Structure
---------------------------------------------------------------------------------- */
@mixin controlPagination($selector,$color-primary:#000,$color-secondary:#FFF,$icon-size:20px,$default:true) {
    $border-page-size: 1px;
    $border-nav-size: 2px;
    $border-num-size: 1px;

    #{$selector} {
        @include flexParent();
        @include justifyContent(center);
        margin: 2em 0 0;
        width: 100%;
        
        @include breakpoint(md) {
            margin-bottom: 8em;
            width: auto;
        }

        &-group {
            @include flexParent();
            @include flexChild();
            @include alignItems(center);
            margin: 0 0 2em 0;

            &--direction {
                @include breakpoint(md) {
                    margin: 0;
                }
            }

            &--pages {
                position: relative;
                padding: 0 0.5em;

                @include breakpoint(md) {
                    padding: 0 1.5em;
                    margin: 0 1.2em;
                
                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        border-left: $border-page-size solid transparent;
                        height: 100%;
                    }
                    &::before {
                        left: 0;
                    }
                    &::after {
                        right: 0;
                    }
                }

            }

            li {
                @include flexChild();
            }

        }

        &-nav {
            $parent: &;
            @include flexParent;
            margin: 0 0.8em 0 0;
            padding: 1.5em;
            position: relative;
            border: 1px solid transparent;
            border-radius: 5px;

            > * {
                @include flexChild;
            }

            @include breakpoint(md) {
                margin: 0 0 0 0.8em;
                padding: 0 2em 0 0;
                border: none;
            }

            &._is-inactive {
                pointer-events: none;

                &:hover {
                    cursor: default;
                }
            }

            #{$selector}-label {
                @include visuallyHide;
            
                @include breakpoint(sm) {
                    @include visuallyShow;
                }
            }

        }

        &-num {
            margin: 0 0.5em;

            &._is-inactive {
                pointer-events: none;
            }

        }

        &-icon {
            height: $icon-size;
            width: $icon-size;

            @include breakpoint(sm) {
                margin-left: 1em;
            }
        }
    
    }

    @if $default != false {
		@include controlPagination--default($selector,$color-primary,$color-secondary);
	}

}

/* -------------------------------------------------------------------------------
 Pagination Control: Default Presentation
---------------------------------------------------------------------------------- */
@mixin controlPagination--default($selector,$color-primary,$color-secondary) {

    #{$selector} {

        &-nav {
            $parent: &;
            @include getType('action'); 
            border-color: $color-primary;
            color: $color-primary;

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: underline;
                text-underline-offset: 4px;
            }

            &._is-inactive {
                text-decoration-color: transparent;
            }

        }

        &-num {
            @include getType('p'); 
            color: $color-primary;

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
            }

            &._is-inactive {
                text-decoration: underline;
                text-underline-offset: 2px;
            }

        }

        &-icon {
            fill: $color-primary;

            #{$selector}-nav._is-inactive & {
                
            }

        }

    }

}

/* ---------------------------------------------------------------------
  Tags
------------------------------------------------------------------------ */
@mixin controlTags($selector,$color-primary:null,$color-secondary:null,$default:true,$theme:false) {

    #{$selector} {
        $gutter-a: math.div(5,14); 
        $gutter-b: math.div(10,14);

        &-list {
            @include flexParent();
            content:"list";

            &--feature {
                @include justifyContent(center);
            }

        }

        &-item {
            @include flexChild();
            margin: 0 1em 1em 0;
            position: relative;
            
            &:hover {
                cursor: pointer;
            }
            // Show remove icon if active item
            &._is-active #{$selector}-icon--remove {
                display: inline-flex;
            }
        }

        &-trigger {
            display: block; // ensure space is filled

            &--tag {
                @include flexParent();
                @include alignItems(center);
                border-radius: 100px;
                border: 1px solid transparent;
                padding: 0.5em 1em; 
                font-size: 1rem;
                z-index: 1;
            }

        }

        &-input {
            
            &--faux {
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
                left: 0;
                right: 0;
                position: absolute;
                opacity: 0;
                z-index: 2;

                &:hover {
                    cursor: pointer;
                }
                // Show remove icon if checked input
                &:checked + #{$selector}-trigger #{$selector}-icon--remove {
                    display: inline-flex;
                }
            }
        }

        &-icon {

            &--remove {
                height: 20px;
                width: 20px;
                margin-left: #{$gutter-a}em;
            }

        }
        
    }

    @if $default != false {

        @if $theme == true {
            @each $pg, $color in $pages {
                $color-primary: nth(getTheme($color),1);
                $color-secondary: nth(getTheme($color),2);
    
                @at-root {
                    #{$selector}--#{$pg} {
                        @include controlTags--default($selector,$color-primary,$color-secondary);
                    }
                }
            }
        }
        @else {
            @include controlTags--default($selector,$color-primary,$color-secondary);          
        }
    }

}

/* -------------------------------------------------------------------------------
 Tag Control: Default Presentation
 NOTE: bc of theming, use parent ampersand selector with discretion
---------------------------------------------------------------------------------- */
@mixin controlTags--default($selector,$color-primary,$color-secondary) {

    #{$selector} {

        // Color styles applied to a trigger
        // whose parent item is hovered AND/OR
        // whose parent item is active
        &-item:hover,
        &-item._is-active {
            #{$selector}-trigger--tag {
                color: $color-secondary;
                background: $color-primary;
            }
        }
        
        &-trigger--tag { 
            border-color: $color-primary;
            // element is either label or anchor
            &,
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: $color-primary;
                text-decoration: none;
            }
        }

        &-input--faux {
            // Color styles applied to a trigger
            // whose previous sibling is a checked input
            &:checked + #{$selector}-trigger--tag {
                color: $color-secondary;
                background: $color-primary;
            }
        }

        &-label--tag {
            @include getType('fine');
        }

        &-icon--remove {
            fill: $color-secondary;
            display: none;
        }

        // If dialog or callout is parent, reverse color palette
        // NOTE: hyphen specifics here, eh
        ////////////////////////////////////////////////////////
        &-dialog,
        &--callout {

            #{$selector}-trigger--tag {
                border-color: $color-secondary;
                z-index: 1;

                &,
                &:link,
                &:visited,
                &:hover,
                &:active {
                    color: $color-secondary;
                }
            }

            #{$selector}-item:hover #{$selector}-trigger--tag,
            #{$selector}-item._is-active #{$selector}-trigger--tag,
            #{$selector}-input--faux:checked + #{$selector}-trigger--tag {
                color: $color-primary;
                background: $color-secondary;
            }

            #{$selector}-icon--remove {
                fill: $color-primary;
            }

        }

    }
}


/* ---------------------------------------------------------------------
  Dialog
  NOTE: See _styleguide.scss for $theme vars
------------------------------------------------------------------------ */
@mixin controlDialog($selector,$color-primary:null,$color-secondary:null,$default:true,$theme:false) {

    @include controlTags($selector,$color-primary,$color-secondary,$default,$theme);

    #{$selector} {
        $parent: &;
        
        &-dialog,
        &-overlay {
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0; 
            position: fixed;
        }

        &-dialog {
            z-index: 2;
            display: flex;
            overflow-y: scroll;

            @include breakpoint(sm) {
                overflow-y: auto;
            }

            &[aria-hidden="true"] {
                display: none; 
            }

        }

        &-overlay {
            background-color: rgba(43, 46, 56, 0.9);
        }

        &-content {
            padding: 2em;
            position: relative;
            margin: auto;
            width: 100%;
            z-index: 2; 
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
            
            @include breakpoint(sm) {
                width: 75%;
            }

        }

        &-group {
            margin: 0 0 3em 0;

            &--sections,
            &--project-status {
                @include breakpoint(sm) {
                    display: none;
                }
            }

            // Hide date for now
            &--dates {
                display: none;
            }

        }

        &-controls {
            margin-bottom: 2em;

            @include breakpoint(sm) {
                @include flexParent();
                @include justifyContent(space-between);

                > * {
                    @include flexChild(0 1 50%);
                }
            }

        }

        &-trigger {
            @include flexParent();
            @include alignItems(center);

            &._is-hidden {
                @include totallyHide;
            }

            &:hover {
                cursor: pointer;
            }

            #{$parent}-controls & {
                $pt: math.div(12,16);
                $pl: math.div(15,16);
                $pr: math.div(15,16);
                $pb: math.div(13,16);
                $mb: math.div(20,16);
                @include resetButton;
                @include getType('caption');
                border-radius: 2px;
                border: 1px solid transparent;
                margin-bottom: #{$mb}em;
                padding: #{$pt}em #{$pr}em #{$pb}em #{$pl}em;
                width: 100%;
            
                @include breakpoint(sm) {
                    margin-bottom: 0;
                    width: auto;
                }
            
            }

            &--close,
            &--clear,
            &--apply {
                @include resetButton;
            }

            &--sort {
                @include breakpoint(sm) {
                    flex-basis: auto;
                    min-width: 280px;
                }
            }

            &--apply {
                border-radius: 5px;
                border: 1px solid transparent;
                margin-left: 2em;
                padding: 1.5em 2em 1.5em 2em;
            }

            &--close {
                position: absolute;
                top: 1.5em;
                right: 1em;
                font-size: 1rem;
            }

            &:hover {
                cursor: pointer;
            }

        }

        &-icon {
            height: 20px;
            width: 20px;
            @include flexChild();

            &--plus {

                #{$parent}-trigger--filter & {
                    display: none;

                    @include breakpoint(sm) {
                        display: inline-block;
                    }
                }
                
            }

            &--caret {

                #{$parent}-trigger--filter & {
                    @include breakpoint(sm) {
                        display: none;
                    }
                }

            }

        }

        &-title {

            &--headline {
                $mb: math.div(40,20);
                @include getType('h4-sans');
                margin-bottom: #{$mb}em;
            }

            &--group {
                $mb: math.div(15,16);
                @include getType('caption');
                margin-bottom: #{$mb}em;
            }
        }

        &-label {

            &--headline {
                flex-grow: 1;
                text-align: left;
            }

            &--action {
                $height: math.div(5,12);
                $width: math.div(10,12);
                @include getType('action');
                margin-right: #{$width}em;
                text-decoration: underline;
                text-underline-offset: #{$height}em;
                text-decoration-thickness: 1px;

                #{$parent}-trigger--apply & {
                    text-decoration: none;
                }

            }

        }

        &-footer {
            @include flexParent();
            @include justifyContent(flex-end);
            @include alignItems(center);
        }

    }

    @if $default != false {

        @if $theme == true {
            @each $pg, $color in $pages {
                $color-primary: nth(getTheme($color),1);
                $color-secondary: nth(getTheme($color),2);
    
                @at-root {
                    #{$selector}--#{$pg} {
                        @include controlDialog--default($selector,$color-primary,$color-secondary);
                    }
                }
            }
        }
        @else {
            @include controlDialog--default($selector,$color-primary,$color-secondary);
        }
    }

}

/* -------------------------------------------------------------------------------
 Dialog Control: Default Presentation
---------------------------------------------------------------------------------- */
@mixin controlDialog--default($selector,$color-primary,$color-secondary) {

    #{$selector} {
 
        &-content {
            background: $color-primary;
        }

        &-trigger {

            &--apply {
                border-color: $color-secondary;
            }
        
        }
        
        &-icon {
            
            &--apply,
            &--close {
                fill: $color-secondary;
            }

        }

        &-controls {

            #{$selector}-trigger {
                border-color: $color-primary;
                color: $color-primary;
            }

            #{$selector}-icon {
                fill: $color-primary;
            }

        }

        &-title {
            &--headline,
            &--group {
                color: $color-secondary;
            }
        }

        &-label {
           
            &--action {
                color: $color-secondary;
                text-decoration-color: $color-secondary;
            }

        }

    }

}