<style>
.adminTip-list--0 {
    margin-left: 2em;
    list-style-type: disc;
}
.adminTip-item {
    margin-bottom: 1em;
}
.adminTip-p {
    margin-bottom: 3em;
}
.adminTip-box--0 {
    margin-top: 0;
    background: #f3f7fc;
    padding: 1em;
    border-radius: 10px;
}
.adminTip-title {
    margin: 0 0 14px 0;
}
.adminTip-warning {
    color: #cf1124;
}
</style>

{% set currentStory, currentSlug = element, element.slug %}
{% set narrativeEntries = craft.entries()
    .with('narrativeBlock')
    .narrativeBlock(':notempty:')
    .all()
%} 
{% set isNarrative = false %}

{% set narratives = {} %}
{% if currentSlug and narrativeEntries %}
{% for entry in narrativeEntries %}
    {% set narrativeBlock = entry.narrativeBlock %}
    {% for b in narrativeBlock %} 
        {% if b.type == "storyNarrative" and b.item.one() is not null and b.item.one().slug == currentSlug %}
        {% set isNarrative = true %}
        {% set item = {
            'title': entry.title,
            'url': entry.isEditable() ? entry.cpEditUrl : null,
            'section': entry.section,
            'type': b.narrativeType|length > 0 ? b.narrativeType[0].title : null
        }%}
        {% set narratives = narratives|merge([item]) %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endif %} 

<h4><strong>Story as Narratives:</strong></h4>
<p>To add this story to a Narrative, go to the "Narratives" tab within an Exhibition or Project, and click "+Story Narrative."</p>
<div class="adminTip-box--0">
    {% if isNarrative %}
    <h4><strong>This story appears in the following Narratives:</strong></h4>
    <ul class="adminTip-list--0">
        {% for item in narratives %}
        <li class="adminTip-item">
        {{ item.section }}:
        {% if item.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
            {{ item.title }}
        {% endif %}
            (
            {% if item.type %}
            {{ item.type }}
            {% else %}
            <span class="adminTip-warning">Make sure to assign a Narrative Type!</span>
            {% endif %}
            )
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This story does not yet appear in any Narratives.</p> 
    {% endif %}
</div>

