{% import 'macros/_utils' as utils %}
{% import 'macros/_controls' as controls %}
{% import 'macros/_cards' as cards %}
{% import 'macros/_dates' as dates %}

{# index's entry id should have been passed into sprig partial #}
{% set env = getenv('ENVIRONMENT') %}
{% set entry = craft.entries.id(entryId).one() %}

{# set index-specific vars for conditional content/filtering #}
{% set indexType = entry.section.handle|replace('Index') %}
{% set indexSlug = (indexType == 'research') ? 'projects' : indexType %}
{% set isSearchIndex = (indexSlug == 'search') %}
{# set sprig req for monitoring #}
{% set isSprig = sprig.isRequest %}
{# set default result count #}
{% set results = results ?? 0 %}
{# search result limit #}
{% set limit = limit ?? 9 %}
{# search filters #}
{% set filters = ['section','tags','add-tag','remove-tag','search','sort'] %}
{% set trigger = sprig.trigger|split('_')[0] %}
{# sprig default vars #}
{% set overlay, query, sort, date, layout = overlay ?? 'off', query ?? '', sort ?? 'asc', date ?? '', layout ?? 'grid' %}
{% set section = isSearchIndex ? (section ?? 'all') : indexSlug %}
{# idx-specific filters #}
{% set status = status ?? 'active' %}
{% set person = person ?? 'all' %}
{% set personStatus = personStatus ?? 'current' %}
{% set shindig = shindig ?? 'upcoming' %}
{% set show = show ?? 'all' %}

{% if indexSlug == 'people' %}
    {% set limit = '14' %}
{% endif %}

{# reset current page if new filter is triggered #}
{% set page = isSprig and (trigger in filters) ? 1 : (page ?? 1) %}
{# tag handling: add or remove updates the tags var #}
{% set tags, addTag, removeTag = tags ?? '', addTag ?? '', removeTag ?? '' %}
{% if isSprig and (trigger == 'add-tag' or trigger == 'remove-tag') %}
{% set tagsList = tags ? tags|split(',') : [] %}
{% set tags = (trigger == 'remove-tag' ? tagsList|filter(v => v != removeTag) : tagsList|merge([addTag]))|join(',') %}
{% endif %}
{# sprig update url #}
{% do sprig.pushUrl('?' ~ {query: query, section: section, tags: tags, page: page}|url_encode) %}
{# sprig persistent state #}
{{ hiddenInput('overlay', overlay) }}
{{ hiddenInput('section', section) }}
{{ hiddenInput('tags', tags) }}
{{ hiddenInput('sort', sort) }}
{{ hiddenInput('date', date) }}
{{ hiddenInput('layout', layout) }}
{{ hiddenInput('status', status) }}
{{ hiddenInput('person', person) }}
{{ hiddenInput('personStatus', personStatus) }}
{{ hiddenInput('shindig', shindig) }}
{{ hiddenInput('show', show) }}
{{ hiddenInput('results', results) }}
{{ hiddenInput('page', page) }}

{# Refine person status for non-people filter #}
{% if section != 'people' %}
    {% set personStatus = null %}
{% endif %}

{# NOTE:
This is gross but the dialog.hide() method is not being triggered on close
due to the sprig component re-render so quickest/dirtiest solution is to inject this tiny
bit of javascript to assign proper overflow style on the html tag #}
{% if isSprig %}
<script>
    document.documentElement.style.overflowY = "{{ overlay == 'on' ? 'hidden' : '' }}";
</script>
{% endif %}

{# BEGIN RESULTING #}
{# Resource: https://craftcms.com/docs/3.x/relations.html#advanced-relationships #}
{# add relatedParams to params #}
{% set baseQuery = craft.entries() %}
{% set sortedByDate = (section == 'events') or (section == 'exhibitions') %}

{# indices: section #}
{% if section != 'all' %}
    {% set baseQuery = baseQuery.section(section) %}
{% endif %}

{# project: status #}
{% if indexSlug == 'projects' and status != 'all' %}
    {% set projectStatus = (status == 'active') %}
    {% set baseQuery = baseQuery.currentStatus(projectStatus) %}
{% endif %}

{# handle tagged queries #}
{% if tags %}
    {% set category = craft.categories().group('topics').slug(tags).all() %}
    {# if people, refine the search based on project teams *and* categories #}
    {% if section == 'people' %}
        {% set peopleProjects = craft.entries().section('projects').relatedTo(category) %}
        {# build list of filtered people ids #}
        {% set taggedPeopleIds = [] %}
        {% for p in peopleProjects %}
            {% set taggedPeopleIds = taggedPeopleIds|merge(p.projectTeam.ids()) %}
        {% endfor %}
        {# now query people by specific id list #}
        {% set baseQuery = baseQuery.id(taggedPeopleIds) %}
    {% else %}
        {% set baseQuery = baseQuery.relatedTo(category) %}
    {% endif %}
{% endif %}

{# people: person type 
    IMPORTANT: this needs to follow the tag query
#}
{% if section == 'people' %}
    {% set baseQuery = baseQuery.personTypeStatus(personStatus) %}
    {% if person != 'all' %}
    {% set personSlug = (person == 'staff-leadership') ? 'staff,faculty-advisory-board' : person %}
    {% set personType = craft.categories().group('personTypes').slug(personSlug).all() %}
    {% set baseQuery = baseQuery.relatedTo(personType) %}
    {% endif %}
{% endif %}

{# events: upcoming/past events #}
{% if indexSlug == 'events' and shindig %}
    {% set limit = 4 %}
    {% set sortOrder = 'asc' %}

    {% if shindig == 'directors' %} 
    {% set eventType = craft.categories().group('eventTypes').slug('directors-lecture').one() %}
    {% set baseQuery = baseQuery.relatedTo(eventType) %}
    {% endif %}

    {% set isAgnostic = (shindig == 'directors') ? true : false %}
    {% set isFuture = (shindig == 'directors') ? false : (shindig == 'upcoming') %}
    {% set sortedIds = dates.toTheTimeMachine(baseQuery,sortOrder,isAgnostic,isFuture)|trim %}
    {% set baseQuery = craft.entries().id(sortedIds|json_decode) %}
{% endif %}

{# exhibitions: upcoming/past exhibitinos #}
{% if indexSlug == 'exhibitions' and show %}
    {% set limit = 11 %}
    {% set sortOrder = 'asc' %}
    {% set isAgnostic = (show == 'all') ? true : false %}
    {% set isFuture = (show == 'all') ? false : (show == 'upcoming') %}
    {% set sortedIds = dates.toTheTimeMachine(baseQuery,sortOrder,isAgnostic,isFuture)|trim %}
    {% set baseQuery = craft.entries().id(sortedIds|json_decode) %}
{% endif %}

{% block date_directory %}
{# date directory is solely for dev testing #}
{% endblock %}

{# define sorting #}
{% set byTitle = 'title ' ~ sort %}
{% set byTitleExcludeArticles = "(CASE WHEN `title` LIKE 'The %' THEN SUBSTRING(`title`, 5) WHEN `title` LIKE 'A %' THEN SUBSTRING(`title`, 3) ELSE `title` END)" ~ sort %}
{# get results #}
{# TODO: exclude index pages from query #}

{% if sortedByDate %}
{% set currentResults = (query ? baseQuery.search(query) : baseQuery).limit(limit).fixedOrder() %}
{% else %}

{% if section == 'people' %}
{# note sprig is not updating the sort #}
{% set currentResults = (query ? baseQuery.search(query) : baseQuery).orderBy('personLast '~ sort).limit(limit) %}

{% else %}
{% set currentResults = (query ? baseQuery.search(query) : baseQuery).orderBy(byTitleExcludeArticles).limit(limit) %}
{% endif %}
{% endif %}

{# define pagination #}
{% set pageInfo = sprig.paginate(currentResults, page) %}
{% set results = currentResults|length %}
{% set resultsByPage = pageInfo.pageResults %}
{% set pageObj = {
    'page_info': pageInfo,
    'current_page': page
}%}
{# END RESULTING #}


{% if isSearchIndex %}
{# Search Page Opener #}
<section class="searchOpener">
    <h2 class="searchOpener-title">Search</h2>

    {# result status #}
    <div class="pageOpener pageOpener--search">
        <h3 class="pageOpener-title pageOpener-title--search">{{ results }}</span> Result{{ results != 1 ? 's' : ''}}{% if query %} for <br />"{{ query }}"{% endif %}</h3>
        <div class="pageOpener-desc">{{ entry.openerText }}</div>
    </div>

    {# search form #}
    {# TODO: on keyup if form is cleared, clear the keyword query #}
    {% set searchName,searchId,searchLabel,hasPlaceholder,isSprig = 'indexSearch','index','Enter keyword(s) here',true,true %}
    <div class="searchOpener-form">
        {{ controls.controlSearch(searchName,searchId,searchLabel,hasPlaceholder,query) }}
    </div>
</section>
{% endif %}

{# Search Filters #}
{% set excludeList = ['about-us'] %}

{% switch indexSlug %}
    {% case 'search' %}
    {% set tabList = [{'displayText': 'All'}]|merge(primaryNav.navigationBlock.all()) %}
    
    {% case 'projects' %}
    {% set tabList = [
        {'title': 'All','slug':'all'},
        {'title': 'Active Projects', 'slug': 'active'},
        {'title': 'Completed Projects', 'slug': 'completed'}
    ] %}
    {% set tabFilter = 'status' %}
    
    {% case 'people' %}
    {% set peopleList = craft.categories.group('personTypes') %}    
    {% set tabList = [] %}
    {% set staffList = ['staff','faculty-advisory-board'] %}
    {% for personType in peopleList if personType.slug not in staffList %}
        {% set tabList = tabList|merge([{'title': "#{personType.title}s",'slug':personType.slug }]) %}
    {% endfor %}
    {% set tabList = [{'title': 'All','slug':'all'}]|merge(tabList)|merge([{'title':'Staff & Leadership','slug':'staff-leadership'}]) %}
    {% set tabFilter = 'person' %}

    {% case 'events' %}
    {% set tabList = [
        {'title': 'Upcoming Events', 'slug': 'upcoming'},
        {'title': 'Past Events', 'slug': 'past'},
        {'title': 'Director\'s Lectures', 'slug': 'directors'}
    ] %}
    {% set tabFilter = 'shindig' %}

    {% case 'exhibitions' %}
    {% set tabList = [
        {'title': 'All','slug':'all'},
        {'title': 'Current &amp; Upcoming', 'slug': 'upcoming'},
        {'title': 'Past Exhibitions', 'slug': 'past'}
    ] %}
    {% set tabFilter = 'show' %}

{% endswitch %}

<section class="searchFilters">

    <h2 class="searchFilters-title{{ indexSlug == 'search' or indexSlug == 'people' or indexSlug == 'exhibitions' ? ' searchFilters-title--hide' : '' }}">
    {% switch indexSlug %}
        {% case 'search' %}
        Filter the search
        {% case 'projects' %}
        Project Directory
        {% case 'people' %}
        People Directory
        {% case 'exhibitions' %}
        Exhibitions Directory
    {% endswitch %}
    </h2>

    <ul class="searchTabs searchTabs--{{ indexSlug }}">
    {% for tab in tabList if (isSearchIndex and tab.displayText|slugify not in excludeList) or not isSearchIndex %}

        {% set tabName = isSearchIndex ? tab.displayText : tab.title %} 
        {% set tabSlug = isSearchIndex ? (tabName == 'Research' ? 'projects' : tab.displayText|slugify) : ('slug' in tab|keys ? tab.slug : tab.title|slugify) %}
        {% set activeTab = (indexSlug == 'projects' and status == tabSlug) or 
            (indexSlug == 'search' and section == tabSlug) or 
            (indexSlug == 'people' and person == tabSlug) or
            (indexSlug == 'events' and shindig == tabSlug) or
            (indexSlug == 'exhibitions' and show == tabSlug)
        %}
        {# NOTE: 
            Persist all active filters on open, close, and apply triggers;
            this is why we add the tags value to the section trigger below
        #} 
        <li class="searchTabs-item">
            <a 
                class="searchTabs-trigger{{ activeTab ? ' _is-active' : '' }}" 
                id="section_tab_{{ tabSlug }}"
                href=""
                sprig
                s-val:section="{{ isSearchIndex ? tabSlug : section }}"
                s-val:tags="{{ tags }}"
                {% if tabFilter is defined %}
                s-val:{{ tabFilter }}="{{ tabSlug }}"
                {% endif %}
                s-indicator="#indicator"
                >
                <span class="searchTabs-label">{{ tabName|raw }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

    {# dimensions control #}
    {% set filterList = [
        {
            'title': 'Topics', 
            'slug': 'tags',
            'list': craft.categories.group('topics'),
            'active': tags
        },
        {
            'title': 'Dates',
            'slug': 'date',
            'list': dates.getDateObject()|json_decode,
            'active': date
        }
    ] %}

    {% switch indexSlug %}
        {% case 'search' %}
        {% set filterList = filterList|merge([{
            'title': 'Sections',
            'slug': 'section',
            'list': tabList,
            'active': section
        }]) %}
        {% case 'projects' %}
        {% set filterList = filterList|merge([{
            'title': 'Project Status',
            'slug': 'status',
            'list': tabList,
            'active': status
        }]) %}
    {% endswitch %}

    {% set filterName,filterVariant,filterLabel,resultsId = 'resultsFilter',indexSlug,'Filter Results','#search_{{ searchId }}_results' %}
    {{ controls.controlDimensions(filterName,filterVariant,filterLabel,filterList,resultsId,sort,layout,personStatus,overlay) }}

</section>

<div id="indicator" class="searchIndicator"></div>

{# RESULTS #}
<section 
    class="searchResults{% if not isSearchIndex %} searchResults--{{ section }}{% endif %}{% if pageObj.page_info.totalPages == 1 %} _no-pagination{% endif %}" 
    id="search_index_results">
    <h2 class="searchResults-title">Results:</h2>

    {% if results %}
    <div class="searchResults-content searchResults-content--{{ indexSlug }}{% if indexSlug == 'exhibitions' %}{{ layout == 'grid' ? ' _is-grid' : ' _is-list' }}{% endif %}">
        {% set cardObj = {
            'isSearch': true,
            'activeTags': filterList|map(obj => (obj.slug == 'tags' ? obj.active : ''))|join('') 
        }%}
        {% set exhibitionFeature = null %}
        {% if indexSlug == 'exhibitions' %}
            {% set featureQuery = craft.entries.section('exhibitionsIndex').one()['featuredExhibition'] %}
            {% if featureQuery|length > 0 %}
                {# Feature Exhibition #}
                {% set exhibitionFeature = featureQuery.one() %}

                {% if layout == 'grid' %}
                {% set featureName,cardVariant = 'searchArticle','feature' %}
                {% set featureSizes = utils.getAssetSizes('exhibitions','feature') %}
                {% set featureObj = cardObj|merge({
                    'assetSizes': featureSizes,
                    'cardVariant': cardVariant,
                    'isFeature': true
                })%}
                {{ cards.cardArticle(featureName,exhibitionFeature,featureObj) }}
                {% endif %}
            {% endif %}
        {% endif %}
        {# exclude feature ex from bulk results #}

        {% set cardName = (section == 'people') ? 'searchBio' : 'searchArticle' %}
        {% set sectionKey = isSearchIndex ? 'search' : section %}
        {% set contextKey = isSearchIndex ? 'card' : (section == 'exhibitions' ? 'directory-' ~ layout : 'directory') %}
        {% set assetSizes = utils.getAssetSizes(sectionKey,contextKey) %}
        {% set cardObj = cardObj|merge({
            'assetSizes': assetSizes,
            'cardVariant': indexSlug,
            'showContent': (section == 'people') ? false : true
        })%}

        {% for entry in resultsByPage %}
            {% if exhibitionFeature and entry.id == exhibitionFeature.id %}
            {% set cardFeatureObj = cardObj %}
            {% set cardFeatureObj = cardFeatureObj|merge({'attrs': {'class': '_is-feature'}}) %}
            {{ cards.cardArticle(cardName,entry,cardFeatureObj) }}
            {% else %}
            {{ cards.cardArticle(cardName,entry,cardObj) }}
            {% endif %}
        {% endfor %}

    </div>
    {% else %}
        <div class="searchResults-content">
            <div class="searchResults-apology">No results</div>
        </div>
    {% endif %}
  
</section>

{# PAGINATION #}
{% if results and pageObj.page_info.totalPages > 1 %}
{% set pageName,pageRange,iconSize = 'searchPagination',5,20 %}
{{ controls.controlPagination(pageName,pageObj,pageRange,iconSize) }} 
{% endif %}

