<style>
.adminTip-label {
    color: #596673;
    font-weight: bold;
    margin-bottom: 5px;
}
.adminTip-box {
  background: #f3f7fc;
  margin-top: 0;
  padding: 1em;
  border-radius: 10px;
}
.adminTip-desc {
    margin-top: 0;
}
.adminTip-list {
    margin-left: 2em;
    list-style-type: disc;
}
</style>


<strong>Example of Impact Introduction:</strong><br /><br />

<img src="{{ alias('@assetBasePath' ~'/images/control-panel/about/about-intro.png') }}" />

<br /><br />

<strong>Example of Impact Metrics &amp; Highlights:</strong><br /><br />

<img src="{{ alias('@assetBasePath' ~'/images/control-panel/about/about-impact.png') }}" />