<style>
.adminTip-label {
    color: #596673;
    font-weight: bold;
    margin-bottom: 5px;
}
.adminTip-box--img {
  background: #f3f7fc;
  margin-top: 0;
  padding: 1em;
  border-radius: 10px;
}
.adminTip-desc {
    margin-top: 0;
}
.adminTip-list--img {
    margin-left: 2em;
    margin-bottom: 0;
    list-style-type: disc;
}
</style>

<h3 class="adminTip-label">Impact Image</h3>

<div class="adminTip-box--img">
    <ul class="adminTip-list--img">
        <li>Recommended size: 1360px x 700px.</li>
        <li>Be sure to add a <em>caption</em> that provides additional context to the image, as well as <em>alt text</em> for SEO and accessibility.</li> 
        <li><strong>Hint:</strong> Once you've added an image, double-click its thumbnail below to update the caption and alt text.</li>
    </ul>
</div>
