<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{% include 'partials/_head' %}

{% set cleanSection = entry.getSection()|replace('Index','')|slugify %}
{% set currentSection = cleanSection == 'projects' ? 'research' : cleanSection %}

<body class="primaryTheme primaryTheme--{{ currentSection }}">
    <a class="skip-link" href="#primaryContent">
        Skip to content
    </a>
    <header class="primaryHeader">
        <h1 class="primaryHeader-logo">   
            <a href="{{ siteUrl }}">
                <span class="primaryHeader-title">{{ siteInfo.commonLabel }}</span>
                <svg 
                    class="primaryHeader-icon" 
                    role="img">
                    <title>Organization Logo</title>
                    <desc>{{ siteInfo.commonLabel }}</desc>
                    {% set svgPath = "/spritemap.svg#logo-#{siteName}" %}
                    <use xlink:href="{{ alias('@assetBasePath' ~ svgPath) }}"></use>       
                </svg> 
            </a>
        </h1>
        {% include 'partials/_nav' %}
    </header>

    <main class="primaryContent" id="primaryContent" tabindex="-1">     
        {% block content %}
        {% endblock %}
    </main>

{% include 'partials/_footer' %}

</body>
</html>
