{% extends "layouts/_base.html" %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_cards' as cards %}

{# TO DO:
    1. handle cover image
    2. title
    3. summary
    4. directory
#}

{% block content %}
{% set section = entry.type|replace('Index','') %}
{% set sectionName, sectionSlug = section|title, section|slugify %}
{% set openerImage = entry.openerImage.one() is not null ? entry.openerImage : null %}
{% set openerContent = entry.openerText is not null ? entry.openerText : null %}

{# TODO: finish imagerX configuration #}
{% if openerImage %}
    {% set 
        imageName,imageVariant,imageObj,imageTransforms,aspectRatioObj,showCaption,imageBlock,imagerX = 
        'openerImage',null,openerImage,null,{},false,{},true
    %} 
{% endif %}

{% if openerImage %}
<div class="">
    {{ assets.assetImage(
        imageName,
        imageVariant,
        imageObj,
        imageTransforms,
        aspectRatioObj,
        showCaption,
        imageBlock, 
        imagerX) 
    }}
</div>
{% endif %}

<section class="pageOpener">
    <h1 class="pageOpener-title">{{ sectionName }}</h1>
    <div class="pageOpener-desc">{{ openerContent ?? '' }}</div>
</section>

{% switch section %}
    {# Section: Research #}
    {% case 'research' %}
    {% if entry.featuredProject is not null %}
    {% set feature = entry.featuredProject.one() %}
    {% set cardEntry,cardLabel = feature,'Featured Project' %}
    {{ cards.cardFeature(feature,'Featured Project','projectFeature','callout') }}
    {% endif %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}

    {% case 'people' %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}
    
    {% case 'exhibitions' %}

    {% case 'events' %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}


{% endswitch %}
</section>

{% endblock %}