{% extends "layouts/_base.html" %}
{% import 'macros/_utils' as utils %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_cards' as cards %}

{% block content %}
{% set section = entry.type|replace('Index','') %}
{% set sectionName, sectionSlug = section|title, section|slugify %}
{% set openerImage = entry.openerImage.one() is not null ? entry.openerImage : null %}
{% set openerContent = entry.openerText is not null ? entry.openerText : null %}

{% if openerImage and section != "exhibitions" %}
{% set openerName = 'openerImage' %}
{% set sectionKey, contextKey = (sectionSlug == 'research' ? 'projects' : sectionSlug), 'opener' %}
{% set openerSizes = utils.getAssetSizes('projects','opener')|json_decode %}
<picture class="{{ openerName }}">
    {% if openerSizes %}
    {{ assets.assetCard(openerName,openerImage,openerSizes) }}
    {% else %}
    {{ assets.assetCard(openerName,openerImage) }}
    {% endif %}
</picture>
{% endif %}

<section class="pageOpener pageOpener--{{ sectionSlug }}">
    <h1 class="pageOpener-title">{{ sectionName }}</h1>
    <div class="pageOpener-desc">{{ openerContent ?? '' }}</div>
</section>

{% switch section %}
    {# Section: Research #}
    {% case 'research' %}
    {% set feature = entry.featuredProject is not null and entry.featuredProject|length > 0 ? entry.featuredProject.one() : null %}
    {% if feature %}
    {% set cardObj = {
        'cardVariant': 'callout',
        'cardLabel': 'Featured Project',
        'assetSizes': utils.getAssetSizes('projects','feature')
    }%}
    {{ cards.cardFeature('projectFeature',feature,cardObj) }}
    {% endif %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}

    {% case 'people' %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}
    
    {% case 'exhibitions' %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}

    {% case 'events' %}

    {{ sprig('partials/_filter-controls', {'entryId': entry.id }) }}

    {% case 'about' %}
    {% include 'about/_landing' %}    

{% endswitch %}

{% endblock %}