{% extends "layouts/_base.html" %}

{% import 'macros/_utils' as utils %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_cards' as cards %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_controls' as controls %}
{% import 'macros/_menus' as menus %}

{% block content %}
{# Global Vars #}
{% set entrySection = entry.section|slugify %}
{% set entryTitle = entry.title %}
{% set openerImage = entry.openerImage and entry.openerImage.one() is not null ? entry.openerImage : null %}
{% set cardImage = entry.cardImage and entry.cardImage.one() is not null ? entry.cardImage : null %}
{% set citationList = entry.citationList is not null and entry.citationList|length > 0 ? entry.citationList : null %}
{% set topicList = entry.topicList is not null and entry.topicList|length > 0 ? entry.topicList : null %}
{% set eventType = entry.eventType is not null and entry.eventType|length > 0 ? entry.eventType[0] : null %}
{% set entrySubtitle = (entry.personTitle is not null and entry.personTitle != "") ? entry.personTitle : 
                    (entrySection == 'projects' ? 'Research Project' : 
                    entrySection == 'events' ? ( eventType ?? 'Events' ) : 
                    entrySection|title) %}
{% set entryDate = (entry.dateBlock is not null and entry.dateBlock[0] != '') ? dates.printDate(entry.dateBlock[0]) : null %}
{% set spotlightBlock = entry.spotlightBlock is not null and entry.spotlightBlock|length > 0 ? entry.spotlightBlock.all() : null %}
{% set narrativeBlock = entry.narrativeBlock is not null and entry.narrativeBlock|length > 0 ? entry.narrativeBlock.all() : null %}

{% set abstract = entry.abstract is not null and entry.abstract != '' ? entry.abstract : 
                (entry.exhibitionAbstract is not null and entry.exhibitionAbstract != '' ? entry.exhibitionAbstract: 
                entry.teaser is not null and entry.teaser != '' ? entry.teaser: 
                null) %}

{% set body = entry.summary is not null and entry.summary != '' ? entry.summary :
                (entry.personSummary is not null and entry.personSummary != "" ? entry.personSummary : 
                entry.body is not null and entry.body != '' ? entry.body: 
                null) %}

{% set actionBlock = (entry.actionBlock is not null and entry.actionBlock|length > 0 and entry.actionBlock[0] != '') ? entry.actionBlock : null %}

{# Icons #}
{% set emailPath = "/spritemap.svg#icon-email-20" %}
{% set expandPath = "/spritemap.svg#icon-plus-20" %}
{% set downloadPath = "/spritemap.svg#icon-download-20" %}
{% set arrowPath = "/spritemap.svg#icon-arrow-right-20" %}

{# Person-Specifics #}
{% set affiliation = entry.personAffiliation is not null and entry.personAffiliation != "" ? entry.personAffiliation : null %}
{% set email = entry.personEmail is not null and entry.personEmail != "" ? entry.personEmail : null %}
{% set personType = entry.personType is not null and entry.personType != "" ? entry.personType : null %}

{# Project-Specifics #}
{% set team = entry.projectTeam is not null and entry.projectTeam|length > 0 ? entry.projectTeam : null %}

{# Exhibition Specifics #}
{% set hasGallery = entry.galleryImage is not null and entry.galleryImage|length > 0 ? true : false %}
{% set relatedProject = entry.relatedProject is not null and entry.relatedProject|length > 0 ? entry.relatedProject.one() : null %}


{# Featured Explore Entries 
    1. Look for Featured Entries on Index
    2. If no Featured Entries, select them randomly
    3. Ensure no entry redundancy based on entry ids
#}
{% set featureExplore = false %}
{% set primaryFeature, secondaryFeature, randomFeature = null, null, null %}
{% switch entrySection %}
    {% case 'projects' %}
    {% set featureExplore = true %}
    {% set featureIndex = 'researchIndex' %}
    {% set featureKey1 = 'featuredProject' %}
    {% set featureKey2 = 'secondaryFeaturedProject' %}

    {% case 'exhibitions' %}
    {% set featureExplore = true %}
    {% set featureIndex = 'exhibitionsIndex' %}
    {% set featureKey1 = 'featuredExhibition' %}
    {% set featureKey2 = 'secondaryFeaturedExhibition' %}
{% endswitch %}

{% if featureExplore %}
    {% set currentId = entry.id %}
    {% set indexQuery = craft.entries.section(featureIndex).one() %}
    {% set randomQuery = craft.entries.section(entrySection).order('RAND()').limit(10) %}
    {# avoid redundancy by exludling ids #}
    {% set feature1 = (indexQuery[featureKey1]|length > 0 and indexQuery[featureKey1].one().id != currentId) ? indexQuery[featureKey1].one() : null %}
    {% set feature2 = (indexQuery[featureKey2]|length > 0 and indexQuery[featureKey2].one().id != currentId) ? indexQuery[featureKey2].one() : null %}
    
    {% set primaryFeature = feature1 ? feature1 : (feature2 ? feature2 : randomQuery.id('not ' ~ currentId).one() ) %}
    {% set secondaryFeature = (feature2 and primaryFeature.id != feature2.id) ? feature2 : randomQuery.id('and, not ' ~ currentId ~ ', not ' ~ primaryFeature.id).one() %}
    {% set randomFeature = randomQuery.id('and, not ' ~ currentId ~ ', not ' ~ primaryFeature.id ~ ', not ' ~ secondaryFeature.id).one() %}
{% endif %}
                      
{# Spotlights #}
{% set keyQuestions = [] %}
{% set keyQuotes = [] %}
{% if spotlightBlock %}
    {% for spotlight in spotlightBlock %}
        {% set spotlightType = spotlight.type %}
        {% switch spotlightType %}
        {% case 'question' %}
        {% set keyQuestions = keyQuestions|merge([spotlight]) %}
        {% case 'quote ' %}
        {% set keyQuotes = keyQuotes|merge([spotlight]) %}
        {% endswitch %}
    {% endfor %}
{% endif %}

{% set menuList = [] %}
{% switch entrySection %}

    {% case 'people' %}
    {# Define projects associated with Person #}
    {% set projectList = craft.entries()
        .section('projects')
        .search('projectTeam:' ~ entry ~'')
        .all()
    %}
    {% set topicList = [] %}
    {% for project in projectList if project.topicList is not null %}
        {% set topicList = topicList|merge(project.topicList) %}
    {% endfor %}

    {% set menuList = menuList|merge(['Bio']) %}
    {% if projectList %}
    {% set menuList = menuList|merge(['Projects']) %}
    {% endif %}
    {% if citationList %}
    {% set menuList = menuList|merge(['Publications']) %}
    {% endif %}

    {% case 'projects' %}

    {% set menuList = menuList|merge(['Summary','Team']) %}
    {% if narrativeBlock %}
    {% set menuList = menuList|merge(['Narrative']) %}
    {% endif %}

{% endswitch %}

<section class="interiorIntro interiorIntro--{{ entrySection }}">
    <div class="interiorIntro-details">
        <h1 class="interiorIntro-subtitle">{{ entrySubtitle }}{% if personType %}, {% if entryDate %}{{ entryDate }} {% endif %}{{ personType[0] }}{% endif %}</h1>
        <h2 class="interiorIntro-title">{{ entryTitle }}</h2>
        
        {% if affiliation %}
        <div class="interiorIntro-prompt">
            {{ affiliation }}
        </div>
        {% endif %}

        {% if team %}
        <div class="interiorIntro-team">
            <h3 class="interiorIntro-team-title">Project Team:</h3>
            <ul class="interiorIntro-team-list">
                {% for member in team %}
                <li class="interiorIntro-team-item">
                    <a href="{{ member.uri }}">{{ member.title }}</a>{{ loop.last ? '' : ', &nbsp;' }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if entryDate and entrySection != 'people' %}
        <div class="interiorIntro-date">{{ entryDate }}</div>
        {% endif %}
        
        {% if menuList %}
        <ul class="interiorIntro-menu interiorIntro-menu--{{ entrySection }}">
            {% for menuItem in menuList %}
            {% set menuHandle = menuItem|camel %}
            <li class="interiorIntro-menu-item">
                <a href="#{{ menuHandle }}">{{ menuItem }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
    {% if entrySection == 'projects' and cardImage %}
    <div class="interiorIntro-asset">
        <figure class="interiorIntro-frame">
        {% set cardImageSizes = utils.getAssetSizes('projects','interior')|json_decode %}
            <picture>
                {{ assets.assetCard("interiorIntro-asset",cardImage,cardImageSizes) }} 
            </picture>
            <figcaption class="interiorIntro-caption">{{ cardImage.caption }}</figcaption>
        </figure>
    </div>
    {% endif %}
</section>

{# Key Questions #}
{% if keyQuestions %}
{% set questionCount = keyQuestions|length %}
{# TODO: slides #}
<section class="interiorSpotlight interiorSpotlight--questions interiorSpotlight--{{ entrySection }}">
    <h3 class="interiorSpotlight-subtitle">Key Question{{ questionCount > 1 ? 's' : '' }}</h3>
    <ul class="interiorSpotlight-list">
    {% for question in keyQuestions %}
        <li class="interiorSpotlight-item">{{ question.body }}</li>
    {% endfor %}
    </ul>
</section>
{% endif %}

{% if openerImage %}
<div class="interiorCover-frame">
    {% if openerImage %}
    {% set openerName = 'interiorCover-asset' %}
    {% set openerSizes = utils.getAssetSizes(entrySection,'interior')|json_decode %}
    <picture class="{{ openerName }}">
        {% if openerSizes %}
        {{ assets.assetCard(openerName,openerImage,openerSizes) }}
        {% else %}
        {{ assets.assetCard(openerName,openerImage) }}
        {% endif %}
    </picture>
    {% endif %}
    <div class="interiorCover-caption">{{ openerImage.one().caption }}</div>
</div>
{% endif %}

{# todo: streamline this #}
{% set summaryId, summaryTitle = '',''%}
{% switch entrySection %}
    {% case 'people' %}
    {% set summaryId, summaryTitle = 'bio','Biography' %}
    {% case 'projects' %}
    {% set summaryId, summaryTitle = 'summary','Project Summary' %}
    {% case 'exhibitions' %}
    {% set summaryId, summaryTitle = 'exhibition','Exhibition Summary' %}
    {% case 'events' %}
    {% set summaryId, summaryTitle = 'event','Event Summary' %}
    {% case 'news' %}
    {% set summaryId, summaryTitle = 'news','News Summary' %}
{% endswitch %}

<section class="interiorSummary interiorSummary--{{ entrySection }}" id="{{ summaryId }}">

    <h3 class="interiorSummary-title interiorSummary-title--{{ entrySection }}">{{ summaryTitle }}</h3>

    {% set showFrame = (entrySection in ['people','exhibitions','events']) %}
    {% if showFrame %}
    <div class="interiorSummary-frame interiorSummary-frame--{{ entrySection }}">

        {% if entrySection in ['people','events'] %}
        {% if cardImage %}
        {% set imageCaption = cardImage.one().caption ? cardImage.one().caption : null %}
        <{{ imageCaption ? 'figure' : 'picture' }} class="interiorSummary-asset">
            {% set interiorSizes = utils.getAssetSizes(entrySection,'interior')|json_decode %}
            {% set imageName,imageObj = "interiorSummary-asset",cardImage %}
            {{ assets.assetCard(imageName,imageObj,interiorSizes) }}

            {% if imageCaption %}
            <figcaption class="interiorSummary-caption">{{ imageCaption }}</figcaption>
            {% endif %}
        </{{ imageCaption ? 'figure' : 'picture' }}>
        {% endif %}
        {% endif %}

        {% if entrySection == 'exhibitions' %}
        {% if actionBlock %}
        <div class="interiorSummary-buttons interiorSummary-buttons--stack">
            {% for item in actionBlock %}
            {% set actionType = item.type %}
            {% set actionURL = item.actionURL %}
            {% set actionPDF = (actionType == 'download' and actionURL|length > 0) ? actionURL.one().url : null %}
            
            <a 
                class="interiorSummary-action interiorSummary-action--link"
                href="{% if actionPDF %}{{ actionPDF }}{% endif %}"
                title=""
                role=""
                {% if actionPDF %}
                download
                {% endif %}>
                <span class="interiorSummary-action-label">{% if item.actionText %}{{ item.actionText }}{% endif %}</span>
                <svg class="interiorSummary-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ downloadPath) }}"></use>
                </svg>
            </a>
            {% endfor %}

        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}

    <div class="interiorSummary-main">

        {% if entrySection == 'people' and not abstract and not body %}
        <div class="interiorSummary-redactor">Bio coming soon</div>
        {% endif %}
        {% set isAccordion = (body and abstract) %}
        {% if abstract %}
        <div class="interiorSummary-redactor interiorSummary-redactor--abstract">{{ abstract|raw }}</div>
        {% endif %}

        {% if body %}
        {% if isAccordion %}
            {% set panelList = [
                {
                    'heading': 'Full Summary',
                    'body': body|raw
                }
            ] %}
            {{ menus.accordionMenu('panelSummary',panelList,true,true,'expand-20','contract-20') }}
        {% else %}
        <div class="interiorSummary-redactor interiorSummary-redactor--body">{{ body|raw }}</div>
        {% endif %}
        {% endif %}

        {% if email %}
        <div class="interiorSummary-buttons">
            <a 
                class="interiorSummary-action interiorSummary-action--link"
                href="mailto:{{ email }}"
                title=""
                role="">
                <span class="interiorSummary-action-label">{{ email }}</span>
                <svg class="interiorSummary-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ emailPath) }}"></use>
                </svg>
            </a>
        </div>
        {% endif %}

        {% if topicList and entrySection != 'exhibitions' %}
        <div class="interiorSummary-topics interiorSummary-topics--{{ entrySection }}">
            <h3 class="interiorSummary-topics-subtitle">Topics</h3>
            <ul class="interiorSummary-topics-list">
            {% for topic in topicList %}
                <li class="interiorSummary-topics-item">
                    <a 
                        class="interiorSummary-topics-trigger interiorSummary-topics-trigger--tag"
                        href="/search?tags={{ topic|slugify }}">
                        <span class="interiorSummary-topics-label">{{ topic|title }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>

{% if entrySection == 'people' and projectList %}
{% set projectFeature = projectList[0] %}
{% set featureSizes = utils.getAssetSizes('projects','feature') %}
{% set featureObj = {
    'assetSizes': featureSizes,
    'cardVariant': 'callout',
    'cardLabel': 'Projects',
    'cardId': 'projects'
}%}
{{ cards.cardFeature('personFeature',projectFeature,featureObj) }}
{% endif %}

{% if team %}
<section class="interiorTeam interiorTeam--{{ entrySection }}" id="team">
    <h3 class="interiorTeam-title">Research Team</h3>
    <div class="interiorTeam-list">
    {% set teamSizes = utils.getAssetSizes('people','card') %} 
    {% for member in team %}
        {% set teamName,teamEntry,teamObj,teamVariant = 'interiorTeam-item',member,{},'' %}
        {% set teamObj = teamObj|merge({'assetSizes': teamSizes})%}
        {{ cards.cardArticle(teamName,teamEntry,teamObj,teamVariant) }}
    {% endfor %}
    </div>
</section>
{% endif %}

{% if relatedProject %}
<section class="interiorRelated interiorRelated--{{ entrySection }}">
    <h3 class="interiorRelated-title interiorRelated-title--hidden">Related Project</h3>
    {% set cardName,cardVariant,cardLabel,cardObj = 'relatedArticle','related','This exhibition is part of',{} %}
    {{ cards.cardFeature(relatedProject,cardLabel,cardName,cardVariant) }}
</section>
{% endif %}

{% if hasGallery %}
    {{ sprig('partials/_gallery', {'entryId': entry.id}) }}
{% endif %}

{% if narrativeBlock %}
<section class="interiorNarrative interiorNarrative--{{ entrySection }}" id="narrative">
    <h3 class="interiorNarrative-title">{{ entrySection == 'projects' ? 'Project' : 'Exhibition' }} Narrative</h3>
    {% set narratives = {} %}
    
    {% for n_obj in narrativeBlock %}
        {# default to "update" if narrative type does not exist #}
        {% set n_type = n_obj.narrativeType|length > 0 ? n_obj.narrativeType[0]|slugify : 'update' %}
        {% set obj_arr = n_type in narratives|keys ? narratives[n_type] : [] %}
        {% set narratives = narratives|merge({
            (n_type): obj_arr|merge([n_obj.item[0]])
        }) %}
    {% endfor %}

    <div class="tabList tabList--narrative tabList--{{ entrySection }}" role="tablist">
        <button 
            class="tabList-item"
            type="button"
            role="tab"
            aria-selected="true"
            aria-controls="all-tab"
            id="all">All</button>

        {% for tabSlug, objs in narratives|reverse %}
        {% set tabTitle = tabSlug|replace('-',' ')|title %}
        {% set pluralTitle = utils.pluralizeStr(tabTitle) %}
        <button 
            class="tabList-item"
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="{{ tabSlug }}-tab"
            id="{{ tabSlug }}"
            tabindex="-1">{{ "#{pluralTitle}" }}</button>
        </li>
        {% endfor %}
    </div>
    
    {% set allCount = narrativeBlock|length %}
    {% set narrativeName = 'tabPanel-item' %}
    {% set narrativeObj = {
        'assetSizes': utils.getAssetSizes('narrative','card')
    } %}

    <div 
        class="tabPanel{% if allCount > 3 %} tabPanel--4{% endif %}"
        tabindex="0"
        role="tabpanel"
        id="all-tab"
        aria-labelledby="all">

        {% for n in narrativeBlock %}
        {# default to "Update" if narr type does not exist #}
        {# {% set type = n.narrativeType|length > 0 ? n.narrativeType[0].title : 'Update' %} #}
            {% set narrativeEntry = n.item[0] %}
            {{ cards.cardArticle(narrativeName,narrativeEntry,narrativeObj) }}
        {% endfor %}
    </div>

    {% for type, objs in narratives %}
    {% set tabSlug = type|slugify %}
    {% set objCount = objs|length %}
    <div 
        class="tabPanel{% if objCount > 3 %} tabPanel--4{% endif %} _is-hidden"
        tabindex="0"
        role="tabpanel"
        id="{{ tabSlug }}-tab"
        aria-labelledby="{{ tabSlug }}">

        {% for narrative in objs %}
            {{ cards.cardArticle(narrativeName,narrative,narrativeObj) }}
        {% endfor %}

    </div>
    {% endfor %}
    </div>
</section>
{% endif %}

{# Key Quotes #}
{% if keyQuotes %}
{% set quoteCount = keyQuotes|length %}
{# TODO: slides #}
<section class="interiorSpotlight interiorSpotlight--quotes interiorSpotlight--{{ entrySection }}">
    <h3 class="interiorSpotlight-subtitle">Key Quotes</h3>
    <div class="interiorSpotlight-list">
    {% for quote in keyQuotes %}
        <article class="interiorSpotlight-item">
            {% if quote.image is not null and quote.image.one() %}
            <figure class="interiorSpotlight-asset">
                <img src="{{ quote.image.one() }}" />
                <figcaption>{{ quote.image.caption }}</figcaption>
            </figure>
            {% endif %}
            <div class="interiorSpotlight-redactor">
                {{ quote.body|raw }}
            </div>            
            <div class="interiorSpotlight-attribution">
                {{ quote.attribution }}
            </div>
        </article>
    {% endfor %}
    </div>
</section>
{% endif %}

{# Feature Explore #}
{% if featureExplore %}
<section class="interiorExplore">
    <h3 class="interiorExplore-title">Explore</h3>
    
    {% set featureList = [primaryFeature,secondaryFeature] %}
    {% for feature in featureList %}
    {% set featureType = loop.first ? 'primary' : 'secondary' %}
        <article class="interiorExplore-feature interiorExplore-feature--{{ featureType }}">
            <h4 class="interiorExplore-feature-label">
            {% if featureType == 'primary' %}
                Featured {{ entrySection == 'projects' ? 'Project' : 'Exhibition' }}
            {% else %}
                Continue Exploring
            {% endif %}
            </h4>
            <h5 class="interiorExplore-feature-title">{{ feature.title }}</h5>
            <a 
                class="interiorExplore-action interiorExplore-action--link"
                href="{{ siteUrl }}/{{ feature.uri }}">
                <span 
                    class="interiorExplore-action-label">
                    Explore
                </span>
                <svg 
                    class="interiorExplore-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
                </svg> 
            </a>
        </article>
    {% endfor %}
    {% if randomFeature %}
        <article class="interiorExplore-feature interiorExplore-feature--random">
            <a class="interiorExplore-big" href="{{ siteUrl }}/{{ randomFeature.uri }}">
                <span class="interiorExplore-big-label">Open To Inquiry</span>
                <svg 
                    class="interiorExplore-big-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
                </svg> 
            </a>
        </article>
    {% endif %}
    
</section>


{% endif %}

{%  endblock %}