/* _index.scss */

/* ---------------------------------------------------------------------
 Index-specific  declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

@forward 'project';

/* ---------------------------------------------------------------------
  Opener
------------------------------------------------------------------------ */
.openerImage {
	$image: &;

	@at-root {
		@include assetItem(#{$image});
	}

	margin: 0 4em;

}

.pageOpener {
	$opener: &;
	@extend %gutter;

	@include breakpoint(sm) {
		@include flexParent();

		> * {
			@include flexChild(0 1 50%);
		}	
	}

	&--search {
		padding: 0;
	}

	&--exhibitions,
	&--research {
		padding-bottom: 6em;

		@include breakpoint(sm) {
			padding-bottom: 16em;
		}

	}

	&-title {
		$p: math.div(20,120);
		@include getType('o-normal');
		padding: 0 #{$p}em 0 0;

		&--search {
			$pr: math.div(40,65);
			@include getType('h1-normal');
			padding-right: #{$pr}em;
		}

		#{$opener}--exhibitions & {
			$pb: math.div(20,40);
			@include getType('h2-normal');
			padding: 0 0 #{$pb}em 0;

			@include breakpoint(sm) {
				@include getType('o-normal');
			}

		}

	}

	&-desc {
		$p: math.div(20,24);
		@include getType('subtitle');
		//padding-left: #{$p}em;
	}
	
}

/* ---------------------------------------------------------------------
  Feature Cards	
------------------------------------------------------------------------ */
.projectFeature {
	$feature: &;

	@at-root {
		@include cardFeature(#{$feature},getColor('green'),getColor('green',10));
	}
}

.personFeature {
	$feature: &;

	@at-root {
		@include cardFeature(#{$feature},getColor('blue'),getColor('blue',10));
	}
}

.relatedArticle {
	$related: &;
	padding-top: 0;

	@at-root {
		@include cardFeature(#{$related},getColor('gray',10),getColor('gray'));
	}

	&-label {
		&--hidden {
			@include totallyHide;
		}
	}

	&-subtitle {
		$mb: math.div(20,30);
		@include getType('h3-italic');
		font-style: italic;
		margin: 0 0 #{$mb}em 0;
	}

	&-content {
		@include flexParent($display:flex,$values:row-reverse nowrap);
		margin-top: 0;
	}

	&-details {
		* {
			text-align: left;
		}
	}

	&-buttons,
	&-team-list {
		@include justifyContent(flex-start);
	}

	&-topics {
		$topics: &;
		
		@at-root {
			@include controlTags(#{$topics},getColor('gray'),getColor('gray',10));
		}
		&-list {
			@include justifyContent(flex-start);
		}

		&-label {
			@include getType('fine');
		}
	}

}