/* _interior.scss */

@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

@forward 'project';

/* ---------------------------------------------------------------------
 Interior Cover
------------------------------------------------------------------------ */
.interiorCover {

	&-frame {
		margin: 0 2em;
		position: relative;

		@include breakpoint(sm) {
			margin: 0 4em;
		}
	}

	&-asset {
		display: block;
		padding-bottom: 4em;
	} 

	&-caption {
		@include getType('caption');
		display: block;
		padding-top: 0;
		width: 25%;
		position: absolute;
		left: 0;
		top: 100%;

		em {
			font-style: italic;
		}

		strong, b {
			font-weight: bold;
		}

	}

}

/* ---------------------------------------------------------------------
 Interior Team (project)
------------------------------------------------------------------------ */
@include cardCarousel('.interiorTeam-item',getColor('green',30),getColor('green',30));

.interiorTeam {
	$team: &;
	border-top: 1px solid transparent;
	padding: 2em 2em 6em 2em;

	@include breakpoint(md) {
		padding: 4em 4em 16em 4em;
	}

	&--projects {
		border-color: getColor('green',30);
	}

	&--events {
		border-color: getColor('yellow',10);
	}

	&-title {
		$mb: math.div(60,40);
		@include getType('h2-normal');
		margin-bottom: #{$mb}em;

		@include breakpoint(md) {
			$mb: math.div(80,65);
			@include getType('h1-normal');
			margin-bottom: #{$mb}em;
		}
	}

	// Cards
	&-list {
		@include breakpoint(sm) {
			@include flexParent();

			> * {
				@include flexChild(0 1 calc(50% - 0.5em));
			}

			#{$team}--events & {
				margin-left: -4em;

				> * {
					@include flexChild(0 1 calc(50% - 8em));
					margin: 0 4em;
				}

			}

		}
	}

	&-item {
		padding: 0 0 4em 0;

		&-title {
			// @include getType('h3-sans');

			&--btm {
				@include totallyHide;
			}
		
		}

	}

}

/* ---------------------------------------------------------------------
 Interior Citations (project, people)
------------------------------------------------------------------------ */
.interiorCitations {
	$citation: &;
	border-top: 1px solid transparent;
	padding: 2em 4em;

	@include breakpoint(md) {
		padding: 4em 4em 16em 4em;
	}

	&--projects {
		border-color: getColor('green',30);
	}
	&--people {
		border-color: getColor('blue');
	}

	&-title {
		$mb: math.div(60,40);
		@include getType('h2-normal');
		margin-bottom: #{$mb}em;

		@include breakpoint(md) {
			$mb: math.div(80,65);
			@include getType('h1-normal');
			margin-bottom: #{$mb}em;
		}

	}

	// Cards
	&-list {
		@include breakpoint(sm) {
			@include flexParent();
			margin-left: -0.25em;

			> * {
				@include flexChild(0 1 calc(50% - 0.5em));
			}

		}
	}

	&-item {
		border-top: 1px solid transparent;
		margin: 0 0.25em;
		padding: 2em 8em 4em 0;

		#{$citation}--projects & {
			border-color: getColor('green',30);
		}

		#{$citation}--people & {
			border-color: getColor('blue');
		}

	}

	&-subtitle {
		$mb: math.div(5,14);
		@include getType('fine');
		margin-bottom: #{$mb}em;

		@include breakpoint(md) {
			$mb: math.div(5,16);
			@include getType('caption');
		}
	}
	
	&-cite {
		display: block;
		margin-bottom: 2em;
		font-size: 1rem;

		@include breakpoint(md) {
			margin-bottom: 0;
		}
		
		> * {
			display: block;
		}

		&-title {
			$mb: math.div(5,20);
			@include getType('h4-italic');
			margin-bottom: #{$mb}em;

			@include breakpoint(md) {
				$mb: math.div(5,30);
				@include getType('h3-italic');
				margin-bottom: #{$mb}em;
			}
		}

		&-source {
			$mb: math.div(10,14);
			@include getType('fine');
			margin-bottom: #{$mb}em;
			
			@include breakpoint(md) {
				$mb: math.div(10,16);
				@include getType('caption');
			}
		}
	}

	&-action {
		$action: &;
		@at-root {
			#{$citation}--projects {
				@include actionButton(#{$action},getColor('green',30),getColor('green'));
			}
			#{$citation}--people {
				@include actionButton(#{$action},getColor('blue'),getColor('blue',10));
			}

		}
		&-icon {
			height: 20px;
			width: 20px;
		}
	}

}

/* ---------------------------------------------------------------------
 Interior Projects (person)
------------------------------------------------------------------------ */
@include cardDirectory('.interiorProjects-item',getColor('blue'),getColor('blue',10));

.interiorProjects {
	$projects: &;
	border-top: 1px solid getColor('blue');
	padding: 4em 4em 16em 4em;

	&-title {
		$mb: math.div(80,65);
		@include getType('h1-normal');
		margin-bottom: #{$mb}em;
	}

	&-list {

		@include breakpoint(sm) {
			@include flexParent();

			> * {
				@include flexChild(0 1 calc(50% - 0.5em));
			}

		}
	}

}

/* ---------------------------------------------------------------------
 Interior Spotlight (projects)
------------------------------------------------------------------------ */
.interiorSpotlight {
	@include flexParent($display:flex,$values:column nowrap);
	@include justifyContent(center);
	background:  getColor('green',30); //todo
	padding: 0 3em;
	height: 640px;

	@include breakpoint(md) {
		height: 900px;
		padding: 0;
	}

	> * {
		@include flexChild();
	}

	* {
		color: getColor('green',20);
	}

	&-subtitle {
		$mb: math.div(20,20);
		@include getType('h4-sans');
		margin-bottom: #{$mb}em;
		text-align: center;

		@include breakpoint(md) {
			$mb: math.div(20,28);
			@include getType('h3-sans');
			margin-bottom: #{$mb}em;
		}

	}

	&-list {
		@include flexParent($display:flex,$values:row nowrap);
		@include justifyContent(center);
		@include alignItems(center);
		text-align: center;
	}

	&-item {
		@include getType('h3-italic');
		font-style: italic;
		max-width: 810px;

		@include breakpoint(md) {
			@include getType('h1-italic');
		}

	}

}

/* ---------------------------------------------------------------------
 Interior Related (exhibitions)
------------------------------------------------------------------------ */
.interiorRelated {

	&-title {
		&--hidden {
			@include visuallyHide;
		}
	}
}
