/* _interior-intro.scss */

@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

@forward 'project';


/* ---------------------------------------------------------------------
  Interior Intro
------------------------------------------------------------------------ */
.interiorIntro {
	$parent: &;
	padding: 0 2em 5em 2em;
	@include flexParent($display:flex,$values:row nowrap);
	@include justifyContent(center);

	@include breakpoint(md) {
		padding: 0 8em 5em 8em;
	}

	> * {
		@include flexChild(0 1 50%);
	}

	&--people  {
		padding-top: 12em;
		padding-bottom: 16em;
	}

	&--projects {
		@include flexParent($display:flex,$values:row wrap);
		
		> * {
			@include flexChild(0 1 100%);
		}

		@include breakpoint(md) {
			@include flexParent($display:flex,$values:row nowrap);

			> * {
				@include flexChild(0 1 50%);
			}

		}

	}

	&--about {
		
		@include breakpoint(sm) {
			@include justifyContent(flex-end);
		}

	}

	&-details {
		margin-top: 4em;
		padding: 0 2em;
		text-align: center;

		@include breakpoint(sm) {
			padding-right: 8em;
		}

		@include breakpoint(md) {
			margin-top: 0;
		}

		#{$parent}--projects & {
			order: 1;
			@include breakpoint(sm) {
				@include flexParent($display:flex,$values:column);
			}
			@include breakpoint(md) {
				order: 0;
			}
		}

        #{$parent}--news & {
			@include breakpoint(sm) {
				flex-basis: 75%;
			}
		}
	}

	&-asset {
		// todo
		//overflow: hidden;

		@include breakpoint(sm) {

		}


	}

	&-placeholder {
		background: lightgray;
		height: 700px;
		width: 640px;
	}

	&-caption {
		$pt: math.div(5,12);
		@include getType('micro');
		padding: #{$pt}em 0 0 0;
		text-align: center;

		em {
			font-style: italic;
		}

		strong, b {
			font-weight: bold;
		}

		@include breakpoint(md) {
			$pt: math.div(20,16);
			$pr: math.div(40,16);
			@include getType('caption');
			padding: #{$pt}em #{$pt}em 0 0;
			text-align: left;
		}

	}

	&-title {
		$mb: math.div(20,30);
		@include getType('h3-normal');
		margin-bottom: #{$mb}em;

		@include breakpoint(md) {
			$mb: math.div(40,65);
			@include getType('h1-normal');
			margin-bottom: #{$mb}em;
		}

		#{$parent}--people & {
			
			@include breakpoint(md) {
				$mb: math.div(20,65);
				margin-bottom: #{$mb}em;
			}

		}

	}

	&-subtitle {
		$mb: math.div(20,16);
		@include getType('caption');
		margin-bottom: #{$mb}em;
		
		&--projects {
			$translate: calc(100% - 2em);
			flex-grow: 1;
			transform: translateY($translate);
		}

	}

	&-prompt {
		$mb: math.div(80,28);
		@include getType('h3-sans');
		margin-bottom: #{$mb}em;
	
		span {
			$mb: math.div(5,28);
			display: block;
			margin-bottom: #{$mb}em;
		}
	}

	&-team {
		&-title {
			@include visuallyHide;
		}

		&-list {				
			@include flexParent();
			@include justifyContent(center);
			margin-bottom: 1em;
		}

		&-item {
			@include getType('caption');

			a:link,
            a:visited,
            a:hover,
            a:active {

				#{$parent}--people & {
					color: getColor('blue',10);
				}

				#{$parent}--projects & {
                	color: getColor('green',30);
				}
            }

		}

	}

	&-date {
		@include getType('caption');
	}

	&-menu {
		$menu: &;
		margin: 4em 10.85em;
		scroll-behavior: smooth; // todo

		@include breakpoint(sm) {

		}

		@include breakpoint(md) {
			@include flexParent();
			@include justifyContent(center);
			margin: 0;
		}
	
		&--projects {
			flex-grow: 1;
			@include alignItems(end);
		}

		&--about {
			flex-basis: 100%;
			margin: 0 auto;

			@include breakpoint(sm) {
				display: block;
				margin: 0;
				flex-basis: 50%;
			}

		}

		&-item {
			$ph: math.div(21.5,12);
			$pb: math.div(10,12);
			@include flexChild(0 1 auto);
			@include getType('action');
			border-bottom: 1px solid transparent;
			margin: 0 2em;
			padding: #{$pb}em #{$ph}em;

			&:last-of-type {
				border: none;
			}

			@include breakpoint(md) {

				#{$menu}--projects &,
				#{$menu}--people & {	
					border: none;
					padding: 0;
				}
			}

			#{$menu}--projects & {
				border-color: getColor('green',30);
			}

			#{$menu}--people & {
				border-color: getColor('blue');
			}

			#{$menu}--about & {
				$mb: math.div(20,12);
				border-color: getColor('red');
				margin: 0 0 #{$mb}em 0;
				padding-left: 0;
				padding-right: 0;
			}

			a:link,
            a:visited,
            a:hover,
            a:active {

				#{$parent}--people & {
					color: getColor('blue');
				}

				#{$parent}--projects & {
					color: getColor('green',30);
				}

				// ew
				#{$parent}--people &,
				#{$parent}--projects & {
					text-decoration: none;
				}

				#{$parent}--about & {
					text-decoration: none;

					// @include breakpoint(sm) {
					// 	text-decoration: underline;
					// }

				}

            }
		}

		&-action {
			$action: &;
			@at-root {
				@include actionButton(#{$action},getColor('red'),getColor('red',10));
			}

			&-label {
				pointer-events: none;

				#{$parent}--about & {
					flex-grow: 1;
				}

			}

			#{$parent}--about & {
				margin-right: 0;
				width: 100%;
			} 


		}

	}

}