/* _search.scss */

/* ---------------------------------------------------------------------
 Search-specific  declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

@forward 'project';

/* ---------------------------------------------------------------------
  Search Index
------------------------------------------------------------------------ */
.searchOpener {
	@extend %gutter;

	&-title {
		@include getType('h4-sans');
		margin-bottom: 1em;			
	}

	&-form {
		@extend %global-half;
		margin-top: 12em;
	}
	
}

/* ---------------------------------------------------------------------
  Search Index Form
------------------------------------------------------------------------ */
.indexSearch {
	$search: &;

	@at-root {
		@include fieldSearch(#{$search});
	}

	&-field {

		&-input {
			background-color: getColor('red',30);
			border-color: getColor('red');
			color: getColor('red');

			&::placeholder {
				color: getColor('red');
			}

		}

	}

	&-submit {
		@include flexParent();
		@include alignItems(center);
		border-color: getColor('red');

		&-label {
			$mr: math.div(10,12);
			@include getType('micro');
			margin-right: #{$mr}em;
			color: getColor('red');
			text-transform: uppercase;	
		}

		&-icon {
			fill: getColor('red');
		}

	}

}

/* ---------------------------------------------------------------------
  Search Filter / Tabs / Dialog
------------------------------------------------------------------------ */
.searchFilters {
	padding: 0 4em;

	&-title {
		$mt: math.div(40,65);
		$mb: math.div(80,65);
		@include getType('h1-normal');
		margin: #{$mt}em 0 #{$mb}em 0;

		&--hide {
			@include visuallyHide;
		}
	}

}

// Loading indicator
.searchIndicator {

	&.htmx-request {
		// Fade following sibs
		// (search results and pagination)
		~ * {
			opacity: 0.3;
		}

	}

}

.searchTabs {
	$parent: &;
	display: none;
	
	@include breakpoint(sm) {
		@include flexParent();
		margin-bottom: 4em;
		border-bottom: 1px solid transparent;
		padding-bottom: 1.7em;
		@include themedProperty(border-bottom-color,1);

		&--people {
			margin-top: 6em;
		}

		> * {
			@include flexChild();
		}
	}

	&-item {
		margin-right: 4em;	
	}

	&-trigger {
		$height: math.div(10,28);
		@include getType('h3-sans');
		text-decoration-color: transparent;
		text-underline-offset: #{$height}em;
		text-decoration-thickness: #{$height}em;

		&:hover,
		&._is-active {
			@include themedProperty(text-decoration-color,1,$parent);
		}

	}

}

.resultsFilter {
	$filter: &;

	@at-root {
		@include controlDialog(#{$filter},$theme:true);
	}

	&-controls {
		#{$filter}--exhibitions  & {
			
		}
	}

	&-controls {
		#{$filter}--events  & {
			display: none;
		}
	}

	&-trigger--filter {

		#{$filter}--exhibitions  & {
			display: none;
		}
	}

	&-status {
		$status: &;
		@include alignSelf(center);
		flex-basis: 252px; 
		
		@at-root {
			@include controlStatus(#{$status},$default:false);
		}

		#{$filter}--people & {
			@include controlStatus--default(#{$status},$color:getColor('blue'));
		}

		#{$filter}--search & {
			@include controlStatus--default(#{$status},$color:getColor('red'));
		}

	}

	&-layout {
		$layout: &;
		display: none;

		@at-root {
			@include controlLayout(#{$layout},$height:2.5em,$width:2.5em);
		}

		#{$filter}--exhibitions & {
			@include flexParent();
			@include alignItems(center);
			margin-bottom: 2em;

			@include breakpoint(sm) {
				margin-bottom: 0;
			}

			&-title {
				$mr: math.div(25,16);
				@include getType('caption');
				font-weight: bold;
				margin: 0 #{$mr}em 0 0;
			}

			&-name {
				@include getType('caption');
			}
		}
	}

}

/* ---------------------------------------------------------------------
  Search Results
------------------------------------------------------------------------ */
$results: '.searchResults';
.searchResults {
	padding: 0 4em;

	&--exhibitions {
		margin: 4em 0 0 0;
		padding: 0;
	}

	&._no-pagination {
		padding-bottom: 8em;
	}

	&-title {
		@include visuallyHide;
	}

	&-apology {
		$mb: math.div(80,24);
		@include getType('subtitle');
		margin-bottom: #{$mb}em;
	}

	&-content {
		$content: 7;
        $margin: 0.5em;
        $thirds: math.div(100,30) * 10%;
        $halves-percent: calc(50% - $margin);
        $thirds-percent: calc($thirds - $margin);
        
        @include breakpoint(sm) {
            @include flexParent();
            margin-left: -0.25em;

            > * {
                @include flexChild(0 1 #{$halves-percent});
            }

			&--search,
			&--projects {
				> * {
					@include flexChild(0 1 #{$thirds-percent});
				}
			}

			&--exhibitions {
				$x-margin: 8em;
				$halves-percent: calc(50% - $x-margin);
				> * {
					@include flexChild(0 1 #{$halves-percent});
				}

			}


        }
		
		&._is-grid {
			margin-left: 0;

			// .searchArticle {
			// 	width: 50%;
			// }

		}

		&._is-list {
			display: block;
			padding: 0 4em;

			.searchArticle {
				@include flexParent($display: flex, $values: row nowrap);
				border-top: 1px solid getColor('gray');
				padding: 2em 0;
				margin: 0;


				> * {
					@include flexChild();
				}
			
				&-asset {
					// fix these
					height: 70px;
					width: 70px;
					margin: 0 2em 0 0;

					@include breakpoint(sm) {
						height: 200px;
						width: 200px;
					}
				}
				
			}

		}

	}

}

.searchArticle {
	$article: &;

	@at-root {
		@include cardDirectory(#{$article},$theme:true);
	}



	&--exhibitions {
		margin: 0 2em 8em 2em;

		@include breakpoint(sm) {
			margin: 0 4em 8em 4em;
		}

		#{$article}-topics {
			display: none;
		}

		#{$results}-content._is-grid & {
			// In grid view, hide article if feature in list
			&._is-feature {
				display: none;
			}

			#{$article}-buttons {
				display: none;
			}
		}

		#{$results}-content._is-list & {

			// #{$article}-subtitle {
			// 	$mb: math.div(20,16);
			// 	@include getType('caption');
			// 	margin-bottom: #{$mb}em;
			// }

			#{$article}-title {
				@include getType('h3-normal');
			}

			#{$article}-dateblock {
				$mb: math.div(40,16);
				margin-bottom: #{$mb}em;
			}
		}

	}

	&--feature {
		
		#{$article}-details {
			color: getColor('gray');

			a:link,
			a:visited,
			a:hover,
			a:active {
				color: getColor('gray');
			}

		}

		#{$article}-subtitle {
			$mb: math.div(20,16);
			@include getType('caption');
			margin-bottom: #{$mb}em;
		}

		#{$article}-topics {
			display: none;
		}

		// Exhibition Feature: Grid View
		#{$results}-content._is-grid & {
			flex-basis: 100%;
			margin-left: 0;
			margin-right: 0;
			width: 100%;

			#{$article}-asset {
				margin-bottom: 4em;
			}

			#{$article}-details {
				@include flexParent($display:flex,$values:column wrap);
				@include justifyContent(center);
				@include alignItems(center);
			}

			#{$article}-title {
				@include getType('h2-sans');
				text-align: center;
			}

			#{$article}-dateblock {
				@include getType('p');
				margin-bottom: 0;
			}

			#{$article}-buttons {
				margin: 4em 0 0 0;
			}

			#{$article}-action {
				margin: 0;
			}
			
		}

		$action: #{$article}-action;
		@include actionButton(#{$action},getColor('gray'),getColor('gray',10));

	}

	&-asset {

		#{$results}-content._is-grid & {
			width: 100%;
			height: auto;
		}
	}

}

.searchBio {
	$bio: &;

	@at-root {
		@include cardBio(#{$bio},$theme:true);
	}

	&-title--top {
		@include totallyHide;
	}
}