/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // Reset base font size for easier em & rem calculations: 1em = 10px
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	min-height: -webkit-fill-available;
}

body {
	$max: map-get($breakpoints,'xl');
	max-width: #{$max};
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	background: getColor('white');
	color: getColor('black');
	font-family: $font-secondary;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	@include breakpoint(md) {
		//font-size: 200%;
	}

	@include breakpoint(lg) {
		//font-size: 150%;
	}

	@include breakpoint(xl) {
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.viewportMod {
	&._is-debug::before {
		font-size: 1.1em;
	}
}

.svg-defs {
	&._is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------------------------
  Accessibility Skip
------------------------------------------------------------------------ */
.skip-link {
	background: getColor('black');
	color: getColor('white');
	font-weight: 700;
	left: 50%;
	padding: 4px;
	position: absolute;
	transform: translateY(-100%);
}
  
.skip-link:focus {
	transform: translateY(0%);
}

.skip-link:focus-within {
	transform: translateY(0%);
}

/* ---------------------------------------------------------------------
  Initialize common components

  Example:
  @include accordionMenu($selector:'.myAccordion',$icon-size:20px,$default:true);
------------------------------------------------------------------------ */
@include assetItem('.profileAsset');
@include fieldText('.primarySearch-field');
@include controlPagination('.searchPagination');
@include controlTags('.searchTags');
@include flyoutContent('.primaryNav');

/* ---------------------------------------------------------------------
  Icons
------------------------------------------------------------------------ */
@mixin icon {
	// default icon sizing
	height: 20px;
	width: 20px;
}

/* ---------------------------------------------------------------------
  Theme

  $theme: getTheme($color);
  $primary: nth($theme,1);
  $secondary: nth($theme,2);
------------------------------------------------------------------------ */
.primaryTheme {

	$sections: (
		'homepage':'black',
		'research': 'green',
		'exhibitions': 'gray',
		'events': 'yellow',
		'people':'blue',
		'about': 'red',
		'search': 'red'
	);

	@each $section, $color in $sections {
		$theme: getTheme($color);
		&--#{$section} {
			background: nth($theme,2);
			color: nth($theme,1);
		}
	}

}



/* ---------------------------------------------------------------------
  Header
------------------------------------------------------------------------ */
.primaryHeader {
	@include flexParent();
	padding: 2em;
	font-size: 1rem;

	> * {
		@include flexChild(0 1 50%);
	}

	&-title {
		@include visuallyHide;
	}

	&-icon {
		height: 40px;
		width: 140px;
	}

}

/* ---------------------------------------------------------------------
  Navigation
------------------------------------------------------------------------ */
.primaryNav {
	$parent: &;
	position: relative;
	font-size: 1rem;

	&-trigger {
		@include flexParent();
		@include justifyContent(flex-end);

		&--open {
			color: getColor('black');

			#{$parent}._is-open & {
				@include visuallyHide;
			}
		}

		&--close {
			color: getColor('red',10);
		}

		&:link,
		&:visited,
		&:hover,
		&:active {
			text-decoration: none;
		}
		
		&-label {
			display: inline-block;
			margin: 0 1em 0 0;
			@include getType('action');
			text-decoration: underline;
			text-underline-offset: 0.5em;
		}

		&-icon {
			@include icon;
		}

	}

	&-logo {
		@include flexParent();
		padding: 2em;
		font-size: 1rem;
	
		> * {
			@include flexChild(0 1 50%);
		}
	
		&-title {
			@include visuallyHide;
		}
	
		&-icon {
			height: 40px;
			width: 140px;
		}
	
	}

	&-content {
		$menu-theme: getTheme('red');
		background: nth($menu-theme,1);
		color: nth($menu-theme,2);
	}

}

.primaryPages {

	&-icon {
		@include icon;
	}
}

.primarySearch {

	&-field {

		&-label {
			@include visuallyHide;
		}

	}

	&-submit {

		&-label {
			@include visuallyHide;
		}

		&-icon {
			height: 20px;
			width: 20px;
		}

	}
}

/* ---------------------------------------------------------------------
  Search Index
------------------------------------------------------------------------ */
.indexSearch {

	&-submit {

		&-icon {
			height: 20px;
			width: 20px;
		}

	}
}

.searchTags {

	&-icon {
		height: 20px;
		width: 20px;
	}

}



/* ---------------------------------------------------------------------
  Person
------------------------------------------------------------------------ */
.contentContainer {
	font-size: 1rem;
	max-width: 1440px;
	padding: 2em;

	@include breakpoint(md) {
		padding: 4em;
	}

}

.profileContainer {

	@include breakpoint(md) {
		@include flexParent($display:flex, $values:row nowrap);
		@include alignItems(flex-start);
		padding-right: 12em;
		gap: 4em;

		> * {
			@include flexChild(0 1 50%);
		}
	}
}

.profileAsset {

	&--interior {
		@include breakpoint(md) {
			//padding-right: 4em;
		}	
	}
}

.profileBody {
	font-size: 2.4em;
}