/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // Reset base font size for easier em & rem calculations: 1em = 10px
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	min-height: -webkit-fill-available;
	background: black; // TODO
}

body {
	$max: map-get($breakpoints,'xl');
	//max-width: #{$max};
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	background: getColor('white');
	color: getColor('black');
	font-family: $font-secondary;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	@include breakpoint(md) {
		//font-size: 200%;
	}

	@include breakpoint(lg) {
		//font-size: 150%;
	}

	@include breakpoint(xl) {
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.viewportMod {
	&._is-debug::before {
		font-size: 1.1em;
	}
}

.svg-defs {
	&._is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------------------------
  Dev Testing Mod
------------------------------------------------------------------------ */
.devTesting {
	display: none;

	&._is-debug {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		padding: 1em;
		background: red;
		color: white;
		font-weight: bold;
		width: 50%;
		display: none;
	}
	
}

/* ---------------------------------------------------------------------
  Accessibility Skip
------------------------------------------------------------------------ */
.skip-link {
	background: getColor('black');
	color: getColor('white');
	font-weight: 700;
	left: 50%;
	padding: 4px;
	position: absolute;
	transform: translateY(-100%);
}
  
.skip-link:focus {
	transform: translateY(0%);
}

.skip-link:focus-within {
	transform: translateY(0%);
}

/* ---------------------------------------------------------------------
  Initialize common components

  Example:
  @include accordionMenu($selector:'.myAccordion',$icon-size:20px,$default:true);
------------------------------------------------------------------------ */
@include assetItem('.profileAsset');
// @include controlTags('.searchTags');
@include flyoutContent('.primaryNav');
@include fieldSearch('.primarySearch');

/* ---------------------------------------------------------------------
  Icons
------------------------------------------------------------------------ */
@mixin icon {
	// default icon sizing
	height: 20px;
	width: 20px;
}

/* ---------------------------------------------------------------------
  Theme
  // eh could be handled better
------------------------------------------------------------------------ */
// Themed body class
.primaryTheme {

	@each $pg, $color in $pages {
		$theme: getTheme($color);

		&--#{$pg} {
			$theme-primary: nth($theme,1);
			$theme-secondary: nth($theme,2);

			background: $theme-secondary;
			color: $theme-primary;

			@include controlPagination('.searchPagination',$theme-primary,$theme-secondary);

			// Primary selectors
			.primaryHeader {

				&-icon {
					fill: $theme-primary; 
				}

			}

			.primaryNav {
				$selector: &;

				&-trigger {
					&--open {
						color: $theme-primary;
						#{$selector}-trigger-icon {
							fill: $theme-primary;
						}
					}
					&-icon {
						fill: $theme-primary;
					}
				}

				&-content {
					@include breakpoint(sm) {
						color: $theme-primary;
					}
				}
			}

			.primarySearch {

				&-submit {
					&-icon {
						@include breakpoint(sm) {
							fill: $theme-primary;
						}
					}
				}

			}

			.primaryPages {

				&-trigger {
					@include breakpoint(sm) {
						color: $theme-primary;
					}
				}

			}

			.searchTabs {
				$tabs: &;

				&-trigger {
					color: $theme-primary;
				}

			}

			

		}

	}

}

/* ---------------------------------------------------------------------
  Global Container Placeholders
  eh these are kinda dum
------------------------------------------------------------------------ */
%global {

	&-half {
		@include breakpoint(sm) {
			max-width: 50%;
		}
	}

	&-flex--auto {
		@include breakpoint(sm) {
			@include flexParent();
			> * {
				@include flexChild();
			}
		}
	}


	&-flex--half {
		@include breakpoint(sm) {
			@include flexParent();
			> * {
				@include flexChild(0 1 50%);
			}
		}
	}

}

%gutter {
	padding: 4em;
}

/* ---------------------------------------------------------------------
  Primary Content
------------------------------------------------------------------------ */
.primaryContent {
	//padding: 2em 0 8em 0;
	position: relative;
	z-index: 1; // ensure mobile nav overlays

	padding: 2em 0 0 0;

	&--homepage {
		padding-top: 0;
	}

}

/* ---------------------------------------------------------------------
  About Carousels
------------------------------------------------------------------------ */
@include carouselScroller('.aboutCarousel');
.aboutCarousel {
	margin: 8em 0 0 0;

	.newsSlide {
		border-top: none;
	
		&-title {
			&--top {
				display: none;
			}
		}
	}

}

/* ---------------------------------------------------------------------
  Person (is this still being used?)
------------------------------------------------------------------------ */
.contentContainer {
	font-size: 1rem;
	max-width: 1440px;
	padding: 2em;

	@include breakpoint(md) {
		padding: 4em;
	}

}

.profileContainer {

	@include breakpoint(md) {
		@include flexParent($display:flex, $values:row nowrap);
		@include alignItems(flex-start);
		padding-right: 12em;
		gap: 4em;

		> * {
			@include flexChild(0 1 50%);
		}
	}
}

.profileAsset {

	&--interior {
		@include breakpoint(md) {
			//padding-right: 4em;
		}	
	}
}

.profileBody {
	font-size: 2.4em;
}

/* ---------------------------------------------------------------------
  Date Directory - dev only
------------------------------------------------------------------------ */
.dateDirectory {
	font-size: 1rem;

	&-title {
		@include getType('h3-normal');
		margin-bottom: 1em;
	}

	&-list {
		font-size: 1rem;
		margin-bottom: 2em;
	}

	&-name {
		@include getType('p');
		font-weight: bold;
	}

}
