/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;
@use "components/__components" as *;
@use "sass:math";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // Reset base font size for easier em & rem calculations: 1em = 10px
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	min-height: -webkit-fill-available;
}

body {
	$max: map-get($breakpoints,'xl');
	max-width: #{$max};
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	background: getColor('white');
	color: getColor('black');
	font-family: $font-secondary;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	@include breakpoint(md) {
		//font-size: 200%;
	}

	@include breakpoint(lg) {
		//font-size: 150%;
	}

	@include breakpoint(xl) {
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.viewportMod {
	&._is-debug::before {
		font-size: 1.1em;
	}
}

.svg-defs {
	&._is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------------------------
  Accessibility Skip
------------------------------------------------------------------------ */
.skip-link {
	background: getColor('black');
	color: getColor('white');
	font-weight: 700;
	left: 50%;
	padding: 4px;
	position: absolute;
	transform: translateY(-100%);
}
  
.skip-link:focus {
	transform: translateY(0%);
}

.skip-link:focus-within {
	transform: translateY(0%);
}

/* ---------------------------------------------------------------------
  Initialize common components

  Example:
  @include accordionMenu($selector:'.myAccordion',$icon-size:20px,$default:true);
------------------------------------------------------------------------ */
@include assetItem('.profileAsset');
@include fieldText('.primarySearch-field');
@include controlPagination('.searchPagination');
@include controlTags('.searchTags');
@include flyoutContent('.primaryNav');

/* ---------------------------------------------------------------------
  Icons
------------------------------------------------------------------------ */
@mixin icon {
	// default icon sizing
	height: 20px;
	width: 20px;
}

/* ---------------------------------------------------------------------
  Theme

  $theme: getTheme($color);
  $primary: nth($theme,1);
  $secondary: nth($theme,2);
------------------------------------------------------------------------ */
$sections: (
	'homepage':'black',
	'research': 'green',
	'exhibitions': 'gray',
	'events': 'yellow',
	'people':'blue',
	'about': 'red',
	'search': 'red'
);

// themed body class
.primaryTheme {

	@each $section, $color in $sections {
		$theme: getTheme($color);

		&--#{$section} {
			$theme-primary: nth($theme,1);
			$theme-secondary: nth($theme,2);

			background: $theme-secondary;
			color: $theme-primary;

			// Section-based larger vw and "closed nav" themes
			.primaryNav {
				$selector: &;

				&-trigger {
					&--open {
						color: $theme-primary;
						#{$selector}-trigger-icon {
							fill: $theme-primary;
						}
					}
				}

				&-content {
					@include breakpoint(sm) {
						color: $theme-primary;
					}
				}
			}

		}

	}

}

/* ---------------------------------------------------------------------
  Header
------------------------------------------------------------------------ */
.primaryHeader {
	@include flexParent();
	padding: 2em;
	font-size: 1rem;

	@include breakpoint(sm) {
		padding-left: 4em;
		padding-right: 3em;
	}

	> * {
		@include flexChild(0 1 50%);
	}

	&-title {
		@include visuallyHide;
	}

	&-icon {
		height: 40px;
		width: 140px;
	}

}

/* ---------------------------------------------------------------------
  Navigation
  NOTE: See themed-declarations above
------------------------------------------------------------------------ */
$red-theme: getTheme('red');
$red-primary: nth($red-theme,1);
$red-secondary: nth($red-theme,2);

.primaryNav {
	$parent: &;
	// Persistent "open nav" mobile theme
	$red-theme: getTheme('red');
	$red-primary: nth($red-theme,1);
	$red-secondary: nth($red-theme,2);

	position: relative;
	font-size: 1rem;

	// Open / Close triggers
	&-trigger {
		@include flexParent();
		@include justifyContent(flex-end);

		&:link,
		&:visited,
		&:hover,
		&:active {
			text-decoration: none;
		}

		&--open {
			#{$parent}._is-open & {
				@include visuallyHide;
			}
		}

		&--close {
			color: $red-secondary;
		}
		
		&-label {
			display: inline-block;
			margin: 0 1em 0 0;
			@include getType('action');
			text-decoration: underline;
			text-underline-offset: 0.5em;
		}

		&-icon {
			@include icon;

			#{$parent}-trigger--close & {
				fill: $red-secondary;
			}
			
		}

	}

	// Open nav state logo and its els
	&-logo {
		@include flexParent();
		margin: 0 0 6em 0;
		font-size: 1rem;
	
		> * {
			@include flexChild(0 1 50%);
		}
	
		&-title {
			@include visuallyHide;
		}
	
		&-icon {
			height: 40px;
			width: 140px;
			fill: $red-secondary;
		}

	}

	// Open nav state content
	&-content {
		padding: 2em;
		background: $red-primary;
		color: $red-secondary;

		@include breakpoint(sm) {
			@include flexParent;
			@include justifyContent(space-between);
			background: none;
		}

	}

	&-title {
		$mb: math.div(20,14);
		@include getType('fine');
		margin: 0 0 #{$mb}em 0;
	}

	// Hide these elements in larger vws
	&-trigger,
	&-trigger-label,
	&-title,
	&-logo {
		@include breakpoint(sm) {
			display: none;
		}
	}

}

.primaryPages {
	font-size: 1rem;

	@include breakpoint(sm) {
		@include flexParent;
	}

	&-item {

		@include breakpoint(sm) {
			margin-right: 4em;
		}

	}

	&-trigger {
		@include flexParent();
		@include alignItems(center);
		@include getType('h2-sans');
		$gutter: math.div(10,40);
		border-bottom: 1px solid $red-secondary;
		padding-bottom: #{$gutter}em;
		margin-bottom: #{$gutter}em;
		color: $red-secondary;
		text-decoration: none;

		> * {
			@include flexChild();
		}

		@include breakpoint(sm) {
			@include getType('caption');
			color: getColor('black');
			text-decoration: none;
		}
	}

	&-label {
		flex-grow: 1;
	}

	&-icon {
		@include icon;
		fill: $red-secondary;

		@include breakpoint(sm) {
			display: none;
		}
	}
}

.primarySearch {

	&-field {

		&-label {
			@include visuallyHide;
		}

		@include breakpoint(sm) {
			display: none;
		}	

	}

	&-submit {

		&-label {
			@include visuallyHide;
		}

		&-icon {
			height: 20px;
			width: 20px;
		}

	}
}

/* ---------------------------------------------------------------------
  Search Index
------------------------------------------------------------------------ */
.indexSearch {

	&-submit {

		&-icon {
			height: 20px;
			width: 20px;
		}

	}
}

.searchTags {

	&-icon {
		height: 20px;
		width: 20px;
	}

}



/* ---------------------------------------------------------------------
  Person
------------------------------------------------------------------------ */
.contentContainer {
	font-size: 1rem;
	max-width: 1440px;
	padding: 2em;

	@include breakpoint(md) {
		padding: 4em;
	}

}

.profileContainer {

	@include breakpoint(md) {
		@include flexParent($display:flex, $values:row nowrap);
		@include alignItems(flex-start);
		padding-right: 12em;
		gap: 4em;

		> * {
			@include flexChild(0 1 50%);
		}
	}
}

.profileAsset {

	&--interior {
		@include breakpoint(md) {
			//padding-right: 4em;
		}	
	}
}

.profileBody {
	font-size: 2.4em;
}