{# cardArticle 
    See styles/components/_cards.scss for styling

    @cardName {str}  - base styling hook
    @cardEntry {obj} - entry object
    @cardObj {obj}   - wildcard object for storage
#}
{% macro cardArticle(cardName,cardEntry,cardObj = {}) %}
{% import 'macros/_utils' as utils %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_actions' as actions %}
{% import 'macros/_controls' as controls %}

{% set entrySection = cardEntry.section|lower %}
{% set cardVariant = cardObj is not null and 'cardVariant' in cardObj|keys ? cardObj['cardVariant'] : null %}

{# Meta #}
{% set cardTopics = cardEntry.topicList is not null and cardEntry.topicList|length > 0 ? cardEntry.topicList : null %}
{% set cardDate = cardEntry.dateBlock is not null and cardEntry.dateBlock|length == 1 ? dates.printDate(cardEntry.dateBlock[0]) : null %}
{% set cardLocation = (cardEntry.locationBlock is not null and cardEntry.locationBlock|length > 0 ) ? cardEntry.locationBlock.all() : null %}
{% set cardUrl = cardEntry.url %}
{% set cardTeam = cardEntry.projectTeam is not null and cardEntry.projectTeam|length > 0 ? cardEntry.projectTeam : null %}

{# Main content #}
{% set cardImage = cardEntry.cardImage and cardEntry.cardImage.one() is not null ? cardEntry.cardImage : null %}
{% set cardVideo = cardEntry.video and cardEntry.video != '' ? cardEntry.video : null %}
{% set cardAbstract = cardEntry.abstract is not null and cardEntry.abstract != '' ? cardEntry.abstract : 
                cardEntry.exhibitionAbstract is not null and cardEntry.exhibitionAbstract != '' ? cardEntry.exhibitionAbstract :
                cardEntry.teaser is not null and cardEntry.teaser != '' ? cardEntry.teaser :
                (cardEntry.eventSummary is not null and cardEntry.eventSummary != '' ? cardEntry.eventSummary : null) %}

{% set cardBody = cardEntry.summary is not null and cardEntry.summary != '' ? cardEntry.summary :
                cardEntry.body is not null and cardEntry.body != "" ? cardEntry.body :
                (cardEntry.personSummary is not null and cardEntry.personSummary != "" ? cardEntry.personSummary : null) %}

{# Icons #}
{% set arrowPath = "/spritemap.svg#icon-arrow-right-20" %}
{% set emailPath = "/spritemap.svg#icon-email-20" %}

{# Person-specific #}
{% set isBio = (entrySection == 'people') %}
{% set isPeopleDirectory = (cardVariant == 'people' and cardName != 'peopleSlide' ) %}

{# Project-specific #}
{% set isProjectPerson = (cardName == 'interiorTeam-item') %}

{# Event-specific #}
{# ugh #}
{% set isEventSlide = (cardName == 'eventsSlide') %}
{% set eventType = cardEntry.eventType is not null and cardEntry.eventType|length > 0 ? cardEntry.eventType[0] : null %}

{# News-specific #}
{# ugh #}
{% set isNewsSlide = (cardName == 'newsSlide') %}

{# Exhibitions-specific #}
{% set isFeatureExhibition = cardObj is not null and 'isFeature' in cardObj|keys ? cardObj['isFeature'] : false %}
{% set isExhibitionDirectory = (entrySection == 'exhibitions' and not isFeatureExhibition) %}

{# Supplemental Attributes, e.g. carousel attrs #}
{% set cardAttrs = cardObj is not null and 'attrs' in cardObj|keys ? cardObj['attrs'] : null %}
{% set cardClass = cardAttrs and 'class' in cardAttrs|keys ? cardAttrs['class'] : null %}

<article 
    class="{{ cardName }}{% if cardVariant %} {{ cardName }}--{{ cardVariant }}{% endif %}{% if cardClass %} {{ cardClass }}{% endif %}" 
    {% if cardAttrs %}
    {% for attr,val in cardAttrs if attr != 'class' %}
    {{ attr }}="{{ val }}"
    {% endfor %}
    {% endif %}>

    {# Card: Title Top  #}
    <h3 class="{{ cardName }}-title {{ cardName }}-title--top">
        <a href="{{ cardUrl }}">{{ cardEntry.title }}</a>
    </h3>

    {# Card: Image #}
    {% if cardImage and not isNewsSlide %}
    {% set assetName = "#{cardName}-asset" %}
    {% set assetSizes = cardObj is not null and 'assetSizes' in cardObj|keys ? cardObj['assetSizes']|json_decode : null %}
    <picture class="{{ assetName }}">
        {% if assetSizes %}
        {{ assets.assetCard(assetName,cardImage,assetSizes) }}
        {% else %}
        {{ assets.assetCard(assetName,cardImage) }}
        {% endif %}
    </picture>
    {% elseif isBio %}
    <div class="{{ cardName }}-asset--ghost"></div>
    {% endif %}

    {# Card: Video #}
    {% if cardVideo %}
    {% set videoSizes = cardObj is not null and 'assetSizes' in cardObj|keys ? cardObj['assetSizes']|json_decode : null %}
    {% set videoWidth, videoHeight = videoSizes['lg'][0],videoSizes['lg'][1] %}
    <div class="{{ cardName }}-video">
       {{ cardVideo.render({
            width: videoWidth,
            height: videoHeight,
            params: {
                autoplay: 0,
                rel: 0,
                mute: 0,
                loop: 1,
                autopause: 1,
            },
            attributes: {
                title: 'Watch'
            }
        }) 
        }}
    </div>
    {% endif %}

    <div class="{{ cardName }}-details">

        {# Card: Event Type #}
        {% if eventType %}
        <div class="{{ cardName }}-subtitle">{{ eventType }}</div>
        {% endif %}

        {# Card: Feature Exhibition #}
        {% if isFeatureExhibition or cardClass == '_is-feature' %}
        <div class="{{ cardName }}-subtitle">Upcoming</div>
        {% endif %}

        {% if cardDate and isNewsSlide %}
        <time 
            class="{{ cardName }}-dateblock"
            datetime="">
            {{ cardDate }}
        </time>
        {% endif %}

        {# Card: Title  #}
        <h3 class="{{ cardName }}-title {{ cardName }}-title--btm">
            <a href="{{ cardUrl }}">{{ cardEntry.title }}</a>
        </h3>

        {# Card: Person Details #}
        {% if cardEntry.personTitle %}
        <p class="{{ cardName }}-subtitle">{{ cardEntry.personTitle }}</p>
        {% endif %}
        {% if cardEntry.personAffiliation %}
        <p class="{{ cardName }}-caption">{{ cardEntry.personAffiliation }}</p>
        {% endif %}

        {# Card: Main Content #}
        {% set showContent = cardObj and 'showContent' in cardObj|keys ? cardObj['showContent'] : true %}
        {% set trimContent = cardObj and 'trimContent' in cardObj|keys ? cardObj['trimContent'] : false %}
        {% set trimAbstract = trimContent and cardAbstract ? (cardAbstract|length > trimContent ? cardAbstract|slice(0,trimContent + 1)|split(' ')|slice(0,-1)|join(' ') ~ '...' : cardAbstract ) : null %}
        {% set trimBody = trimContent and cardBody ? (cardBody|length > trimContent ? cardBody|striptags|truncate(trimContent,'...',true) : cardBody ) : null %}

        {% if showContent and not isEventSlide and not isNewsSlide %}
        {% if cardAbstract %}
        {% set cardAbstract = trimAbstract ?? cardAbstract %}
        <div class="{{ cardName }}-redactor {{ cardName }}-redactor--abstract">
            {{ cardAbstract|raw }}
        </div>
        {% endif %}

        {% if cardBody %}
        {% set cardBody = trimBody ?? cardBody %}
        <div class="{{ cardName }}-redactor {{ cardName }}-redactor--body">
            {{ cardBody|raw }}
        </div>
        {% endif %}
        {% endif %}

        {# Card: Team #}
        {% if cardTeam %}
        <div class="{{ cardName }}-team">
            <h3 class="{{ cardName }}-team-title">Project Team:</h3>
            <ul class="{{ cardName }}-team-list">
            {% for person in cardTeam %}
                <li class="{{ cardName }}-team-item">
                    <a 
                        class="{{ cardName }}-team-name"
                        href="{{ person.uri }}">{{ person }}</a>{% if loop.length > 1 and not loop.last %}&#44; &nbsp;{% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {# Card: Date #}
        {% if cardDate and not isNewsSlide and not isProjectPerson %}
        <time 
            class="{{ cardName }}-dateblock"
            datetime="">
            {{ cardDate }}
        </time>
        {% endif %}

        {% if cardLocation %}
        {% for name in cardLocation if name.type == 'locationName' %}
        <div class="{{ cardName }}-subtitle">{{ name.item }}</div>
        {% endfor %}
        {% endif %}

        {# Slide Card: Content #}
        {% if showContent and (isEventSlide or isNewsSlide) %}
        {% if cardAbstract %}
        {% set cardAbstract = trimAbstract ?? cardAbstract %}
        <div class="{{ cardName }}-redactor {{ cardName }}-redactor--abstract">
            {{ cardAbstract|raw }}
        </div>
        {% endif %}
        {% endif %}

        {# Card: Topics #}
        {% if cardTopics %}
        {% set isSearch = cardObj is not null and 'isSearch' in cardObj|keys ? cardObj.isSearch : false %}
        {% set activeTags = cardObj is not null and 'activeTags' in cardObj|keys ? cardObj.activeTags : null %}
        {% set activeArr = activeTags ? activeTags|split(',') : [] %}
        <div class="{{ cardName }}-topics{% if cardVariant %} {{ cardName }}-topics--{{ cardVariant }}{% endif %}">
            <h3 class="{{ cardName }}-topics-title">Project Topics:</h3>
            <ul class="{{ cardName }}-topics-list">
            {% for tag in cardTopics %}
            {# If this card lives in the Search directory, handle the topic tags accordingly #}
            {% if isSearch %} 
                {% set filterName,groupSlug,itemSlug,itemName = "#{cardName}-topics","tags",tag.title|slugify,tag.title %}
                {% set isActive = (activeArr|length and (itemSlug in activeArr)) %}
                {{ controls.controlDimensionsItem(filterName,groupSlug,itemSlug,itemName,isActive) }}
            {% else %}
                <li class="{{ cardName }}-topics-item">
                    <a 
                        class="{{ cardName }}-topics-trigger {{ cardName }}-topics-trigger--tag"
                        href="search?tags={{ tag.slug }}">
                        <span class="{{ cardName }}-topics-label {{ cardName }}-topics-label--tag">{{ tag }}</span>
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {# Card: Actions #}
        {% set actionList = cardEntry.actionBlock is not null and cardEntry.actionBlock|length > 0 ? cardEntry.actionBlock.all() : null %}
        {# If actionBlock not explicity added to entry (i.e. interior page), ensure these are looped in #}
        {% if not actionList %}
            {% set actionList = [{
                'actionURL': cardUrl,
                'type': 'page'
            }]%}
        {% endif %}
        <div class="{{ cardName }}-buttons">
        {% for actionItem in actionList if (actionItem.actionURL is not null and actionItem.actionURL|length > 0 and actionItem.actionURL != '') %}
            {% set isLink = (isPeopleDirectory or isNewsSlide or isExhibitionDirectory or loop.index > 1) %}
            {% set actionObj = {
                'ui': isLink ? 'link' : 'ghost',
                'label': (isBio ? 'Full Bio' : 'Learn More')
            } %}
            {{ actions.actionBlockItem(cardName,actionItem,actionObj) }}

            {% if cardEntry.personEmail and isPeopleDirectory %}
            <a 
                class="{{ cardName }}-action {{ cardName }}-action--link"
                href="mailto:{{ cardEntry.personEmail }}"
                title=""
                role="">
                <span class="{{ cardName }}-action-label">Email</span>
                <svg class="{{ cardName }}-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ emailPath) }}"></use>
                </svg>
            </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</article>
{% endmacro %}


{# cardFeature
    See styles/components/_cards.scss for styling

    @cardName {str}  - base styling hook
    @cardEntry {obj} - entry object
    @cardObj {obj}   - wildcard object for storage
#}
{% macro cardFeature(cardName,cardEntry,cardObj = {}) %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_dates' as dates %}

{% set cardVariant = cardObj is not null and 'cardVariant' in cardObj|keys ? cardObj['cardVariant'] : null %}
{% set cardLabel = cardObj is not null and 'cardLabel' in cardObj|keys ? cardObj['cardLabel'] : null %}
{% set cardId = cardObj is not null and 'cardId' in cardObj|keys ? cardObj['cardId'] : null %}
{% set cardImage = null %}
{% set cardImage = cardEntry.cardImage and cardEntry.cardImage.one() is not null ? cardEntry.cardImage : null %}
{% set team = cardEntry.projectTeam.all() %}
{% set topics = cardEntry.topicList.all() %}
{% set date = cardEntry.dateBlock is not null and cardEntry.dateBlock|length == 1 ? dates.printDate(cardEntry.dateBlock[0]) : null %}
{% set arrowPath = "/spritemap.svg#icon-arrow-right-20" %}

{# TO DO: abstract this to use for directory cards also #}

<section class="{{ cardName }}{% if cardVariant %} {{ cardName }}--{{ cardVariant }}{% endif %}" id="{{ cardId }}">
    <h2 class="{{ cardName }}-label{% if cardVariant == 'related' %} {{ cardName }}-label--hidden{% endif %}">{{ cardLabel }}</h2>
    <div class="{{ cardName }}-content">
        
        {% if cardImage %}
        {% set assetName = "#{cardName}-asset" %}
        {% set assetSizes = cardObj is not null and 'assetSizes' in cardObj|keys ? cardObj['assetSizes']|json_decode : null %}
        <picture class="{{ assetName }}">
            {% if assetSizes %}
            {{ assets.assetCard(assetName,cardImage,assetSizes) }}
            {% else %}
            {{ assets.assetCard(assetName,cardImage) }}
            {% endif %}
        </picture>
        {% endif %}

        <div class="{{ cardName }}-details">
            {% if cardVariant == 'related' %}
                <h3 class="{{ cardName }}-subtitle">{{ cardLabel }}</h3>
            {% endif %}
            <h3 class="{{ cardName }}-title">{{ cardEntry.title }}</h3>
            
            {% if team|length > 0 %}
            <div class="{{ cardName }}-team">
                <h3 class="{{ cardName }}-team-title">Project Team:</h3>
                <ul class="{{ cardName }}-team-list">
                    {% for member in team %}
                    <li class="{{ cardName }}-team-item">
                        <a href="{{ siteUrl }}{{ member.uri }}">{{ member.title }}</a>{{ loop.last ? '' : ', &nbsp;' }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            {% if topics|length > 0 %}
            <div class="{{ cardName }}-topics{% if cardVariant %} {{ cardName }}-topics--{{ cardVariant }}{% endif %}">
                <h3 class="{{ cardName }}-topics-title">Project Topics:</h3>
                <ul class="{{ cardName }}-topics-list">
                    {% for tag in topics %}
                    <li class="{{ cardName }}-topics-item">
                        <a 
                            class="{{ cardName }}-topics-trigger {{ cardName }}-topics-trigger--tag"
                            href="{{ siteUrl }}search?tags={{ tag.slug }}">
                            <span class="{{ cardName }}-topics-label">{{ tag.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if date %}
            <div class="{{ cardName }}-date">{{ date }}</div>
            {% endif %}

            <div class="{{ cardName }}-buttons">
                <a 
                    class="{{ cardName }}-action {{ cardName }}-action--ghost"
                    href="{{ cardEntry.url }}"
                    title=""
                    role="">
                    <span class="{{ cardName }}-action-label">Learn More</span>
                    <svg class="{{ cardName }}-action-icon">
                        <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
{% endmacro %}

{# cardMini
    See styles/components/_cards.scss for styling

    @cardName {str}  - base styling hook
    @cardEntry {obj} - entry object
    @cardObj {obj}   - wildcard object for storage
    @cardVariant {str} - styling variant hook
#}
{% macro cardMini(cardName,cardEntry,cardObj = {},cardVariant = null) %}
{% import 'macros/_utils' as utils %}
{% import 'macros/_assets' as assets %}

{% set title = cardEntry.cardTitle != '' ? cardEntry.cardTitle : null %}
{% set summary = cardEntry.cardSummary != '' ? cardEntry.cardSummary : null %}
{% set image = cardEntry.cardImage is not null and cardEntry.cardImage|length > 0 ? cardEntry.cardImage : null %}
{% set dnld = cardEntry.downloadLink|length > 0 ? cardEntry.downloadLink.one() : null %}
{% set actionLabel = cardEntry.actionLink.actionText != '' ?  cardEntry.actionLink.actionText : null %}
{% set actionURL = cardEntry.actionLink.actionURL != '' ?  cardEntry.actionLink.actionURL : null %}
{% set arrowPath = "/spritemap.svg#icon-arrow-right-20" %}
{% set dnldPath = "/spritemap.svg#icon-download-20" %}

<article class="{{ cardName }}">

    {% if image %}
    <div class="{{ cardName }}-asset">
        {% set assetName,assetImage = "#{cardName}-asset",image %}
        {% set assetSizes = cardObj is not null and 'assetSizes' in cardObj|keys ? cardObj['assetSizes']|json_decode : null %}
        {% if assetSizes %}
            {{ assets.assetCard(assetName,assetImage,assetSizes) }}
        {% else %}
            {{ assets.assetCard(cardName,cardImage) }}
        {% endif %}
    </div>
    {% endif %}

    {% if title %}
    <h3 class="{{ cardName }}-title">{{ title }}</h3>
    {% endif %}

    {% if summary %}
    <div class="{{ cardName }}-summary">{{ summary }}</div>
    {% endif %}
    {% if dnld %}
    <a
        class="{{ cardName }}-action {{ cardName }}-action--link"
        href="{{ dnld.url }}"
        title=""
        role="">
        <span class="{{ cardName }}-action-label">{{ dnld.title }}</span>
        <svg class="{{ cardName }}-action-icon">
            <use xlink:href="{{ alias('@assetBasePath' ~ dnldPath) }}"></use>
        </svg>
    </a>
    {% endif %}
    {% if actionLabel and actionURL %}
    <a 
        class="{{ cardName }}-action {{ cardName }}-action--link"
        href="{{ actionURL }}"
        title=""
        role="">
        <span class="{{ cardName }}-action-label">{{ actionLabel }}</span>
        <svg class="{{ cardName }}-action-icon">
            <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
        </svg>
    </a>
    {% endif %}
</article>
{% endmacro %}


{# cardMiniFeature
    See styles/components/_cards.scss for styling

    @cardName {str}  - base styling hook
    @cardEntry {obj} - entry object
    @cardObj {obj}   - wildcard object for storage
#}
{% macro cardMiniFeature(cardName,cardEntry,cardObj = {}) %}
{% import 'macros/_assets' as assets %}

{% set cardAttrs = cardObj is not null and 'attrs' in cardObj|keys ? cardObj['attrs'] : null %}
{% set cardVariant = cardObj is not null and 'variant' in cardObj|keys ? cardObj['variant'] : null %}
{% set cardTitle = cardEntry.title %}
{% set sectionSlug = cardEntry.section|slugify %}
{% set cardLabel = sectionSlug == 'projects' ? 'Research Project' : 'Exhibition' %}
{% set spotlights = cardEntry.spotlightBlock is not null and cardEntry.spotlightBlock|length > 0 ? cardEntry.spotlightBlock.all() : null %}
{% set arrowRightPath = "/spritemap.svg#icon-arrow-right-20" %}

{# Apply effects to the image #}
{% set cardImage = cardEntry.cardImage is not null and cardEntry.cardImage|length > 0 ? cardEntry.cardImage : null %}
{% set imageUrl, dominantColor = null, null %}
{% if cardImage %}
{% set imageObj = cardImage %}
{% set dominantColor = craft.imager.getDominantColor(imageObj) %}
{% set dynamicColor = false %}
{# {% set imageEffects = { grayscale: true, gamma: 1.5 } %} #}
{# {% set imageEffects = { gamma: 1.5 } %}
{% set imageUrl = assets.applyEffects(imageObj,imageEffects) %} #}
{% set featureSizes = cardObj is not null and 'assetSizes' in cardObj|keys ? cardObj['assetSizes']|json_decode : null %}
{% endif %}
<article 
    class="{{ cardName }}{% if cardVariant %} {{ cardName }}--{{ cardVariant }}{% endif %}"
    {% if dominantColor and dynamicColor %}
    data-color-test="{{ dominantColor }}"
    {% endif %}
    {% if cardAttrs %}
    {% for attr,val in cardAttrs %}
    {{ attr }}="{{ val }}"
    {% endfor %}
    {% endif %}>

    {% if imageObj %}
    <div class="{{ cardName }}-overlay">{# color overlay #}</div>
    <picture class="{{ cardName }}-asset">
        {{ assets.assetCard("#{cardName}-asset",imageObj,featureSizes) }} 
    </picture>
    {% endif %}

    <div class="{{ cardName }}-content">
        <h4 class="{{ cardName }}-label">{{ cardLabel }}</h4>
        <h5 class="{{ cardName }}-title">
            <a href="{{ siteUrl }}/{{ cardEntry.uri }}">{{ cardTitle }}</a>
        </h5>
        {% for item in spotlights if item.type == 'question' %}
        <div class="{{ cardName }}-question">{{ item.body }}</div>
        {% endfor %}
        <a 
            class="{{ cardName }}-action {{ cardName }}-action--ghost"
            href="{{ siteUrl }}/{{ cardEntry.uri }}">
            <span class="{{ cardName }}-action-label">Learn More</span>
            <svg 
                class="{{ cardName }}-action-icon">
                <use xlink:href="{{ alias('@assetBasePath' ~ arrowRightPath) }}"></use>
            </svg> 
        </a>
    </div>
</article>
{% endmacro %}