{# controlSearch: 
   See: styles/components/_controls.scss for styling

   @searchName {str}    - namespace
   @searchId {str}      - identifier
   @searchLabel {str}   - input label
   @hasPlaceholder {bool} - (optional)
   @searchQuery {str}   - (optional)
   @isIndex {bool}      - (optional)
   @searchVariant {str} - (optional)
#}
{% macro controlSearch(searchName,searchId,searchLabel,hasPlaceholder = false,searchQuery = null,isIndex = true,searchVariant = null) %}
<form class="{{ searchName }}{% if searchVariant is not null %} {{ searchName }}--{{ searchVariant }}{% endif %}" method="post" action="{{ siteUrl }}search?query={{ searchQuery }}">
    <div class="{{ searchName }}-field">
        <label 
            for="search_{{ searchId }}" 
            class="{{ searchName }}-field-label">
            {{ searchLabel }}
        </label>
        <input
            id="search_{{ searchId }}"
            class="{{ searchName }}-field-input {{ searchName }}-field-input--text{% if searchQuery %} _has-value{% endif %}" 
            type="text" 
            {% if hasPlaceholder %}
            placeholder="{{ searchLabel }}"
            {% endif %}
            name="query"
            {% if isIndex %}
            sprig
            {% endif %}
            value="{{ searchQuery }}" />
    </div>
    <button 
        class="{{ searchName }}-submit" 
        id="search_submit_{{ searchId }}" 
        name="search_submit_{{ searchId }}" 
        role="submit"
        type="submit"
        {% if isIndex %}
        sprig
        s-trigger="click"
        s-replace="#search_{{ searchId }}_results"
        {% endif %}>
        <span class="{{ searchName }}-submit-label">Search</span>
        <svg 
            class="{{ searchName }}-submit-icon"
            role="presentation">
            {% set svgPath = "/spritemap.svg#icon-search-20" %}
            <use xlink:href="{{ alias('@assetBasePath' ~ svgPath) }}"></use>       
        </svg> 
    </button>
</form>
{% endmacro %}

{# controlSelectItem: 
   See: styles/components/_controls.scss for styling
   Required: sprig

   @itemName {str}       - select child name
   @selectName {str}     - base styling hook
   @selectSlug {str}     - select parent slug
   @activeSlug {str}     - active select parent slug
   @selectDataAttr {str} - (optional) data-attr-name 
#}
{% macro controlSelectItem(itemName,selectName,selectSlug,activeSlug) %}
{% set itemSlug = itemName|lower|replace(' ','-') %}
{% set isSelectLabel = (itemSlug == selectSlug) ? true : false %}
{% set isHidden = (itemSlug == activeSlug or activeSlug == '' and isSelectLabel) ? true : false %}
{# If the item is active, hide it from the select list #}
<li class="{{ selectName }}-item{% if isSelectLabel %} {{ selectName }}-item--reset{% endif %}{{ isHidden ? ' _is-hidden' : '' }}">
    <a 
        id="{{ selectSlug }},{{ itemSlug }}"
        href=""
        sprig
        s-val:{{ selectSlug }}="{% if not isSelectLabel %}{{ itemName }}{% endif %}">
        {% if isSelectLabel %}Reset{% else %}{{ item }}{% endif %}
    </a>
</li>
{% endmacro %}

{# controlSelect: 
   See: styles/components/_controls.scss for styling
   Required: sprig

   @selectName {str}     - base styling hook
   @selectTitle {str}    - select control title
   @selectObj {obj}      - contains any number of select control key-value pairs
   @selectVariant {str}  - (optional) 
   @selectIcon {str}     - (optional) e.g. arrow-30|arrow-20 
#}
{% macro controlSelect(selectName,selectTitle,selectObj,selectVariant = null,selectIcon = null) %}
<div class="{{ selectName }}" aria-label="Select {{ selectTitle }}">
    <h3 class="{{ selectName }}-title">{{ selectTitle }}</h3>
    <div class="{{ selectName }}-container">
       
        <ul class="{{ selectName }}-list{% if selectVariant %} {{ selectName }}-list--{{ selectVariant }}{% endif %}">
            {% for selectItem, selectValues in selectObj %}
            {% set selectSlug = selectItem|lower %}
            {% set activeSlug = selectValues.active ?? null %}
            {% set activeItem = activeSlug ? activeSlug|title : null %}
            {% set selectList = selectValues.options is not empty ? selectValues.options : null %}

            {% set idx = loop.index %}
            <li class="{{ selectName }}-dropdown">
                <button 
                    class="{{ selectName }}-button" 
                    type="button" 
                    aria-expanded="false" 
                    aria-controls="{{ selectSlug }}-select">
                    <span class="{{ selectName }}-label">
                       {{ activeItem ?? selectItem }}
                    </span>
                    {% if selectIcon %}
                    {% set iconPath = "/spritemap.svg#icon-#{selectIcon}" %}
                    <svg class="{{ selectName }}-icon">
                        {# rev(iconPath) #}
                        <use xlink:href="{{ alias('@assetBasePath' ~ iconPath) }}"></use>
                    </svg>
                    {% endif %}
                </button>

                {% if selectList %}
                <ul class="{{ selectName }}-menu" id="{{ selectSlug }}-select">
                    {# Merge selectItem and selectList to handle select resets #}
                    {% set selectList = [selectItem]|merge(selectList) %}

                    {# If selectList is multi-column, break the list into batches #}
                    {% set batchSlugs = [] %}
                    {% set batchCount = 20 %}
                    {% if selectSlug in batchSlugs %}
                    <li class="{{ selectName }}-batch">
                    {% for batchList in selectList|batch(batchCount) %}
                        <ul class="{{ selectName }}-batch-list">
                            {% for itemName in batchList %}
                            {{ _self.controlSelectItem(itemName,selectName,selectSlug,activeSlug) }}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </li>
                    {% else %}
                    {# If selectList is single-column #}
                    {% for itemName in selectList %}
                    {{ _self.controlSelectItem(itemName,selectName,selectSlug,activeSlug) }}
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{# controlSort: 
   See: styles/components/_controls.scss for styling
   Required: sprig
   Defaults to alphabetical sorting

   @sortName {str}     - base styling hook
   @sortLabel {str}    - sort control label, e.g. Chronological
   @sortOptions {arr}  - (optional) pair of sortable criteria, e.g. ['newest','oldest']
   @activeSort {str}   - (optional) e.g. 'newest'
   @sortVariant {str}  - (optional) 
   @sortIcon {str}     - (optional) e.g. sort-30|sort-20 
#}
{% macro controlSort(sortName,sortLabel = 'A-Z',sortOptions = ['asc','desc'], activeSort = 'asc', sortVariant = null, sortIcon = null) %}
<div class="{{ sortName }}{% if sortVariant %} {{ sortName }}--{{ sortVariant }}{% endif %}" aria-label="Sort {{ sortLabel }}">
{# s-val:sort="{{ sortOptions|filter((idx,option) => option != activeSort) }}"> #}
    <h3 class="{{ sortName }}-title">Sort By</h3>
    <a 
        class="{{ sortName }}-trigger" 
        id="sort"
        href=""
        sprig
        s-val:sort="{{ sortOptions|filter((option) => option != activeSort)|join('') }}">
        <span class="{{ sortName }}-label">{{ sortLabel }}</span>
        {% if sortIcon %}
        {% set iconPath = "/spritemap.svg#icon-#{sortIcon}" %}
        <svg class="{{ sortName }}-icon">
            <use xlink:href="{{ alias('@assetBasePath' ~ iconPath) }}"></use>
            {# <use xlink:href="{{ rev(iconPath) }}"></use> #}
        </svg>
        {% endif %}
    </a>
</div>
{% endmacro %}

{# controlLayout: 
   See: styles/components/_controls.scss for styling
   Required: sprig
   Defaults to grid|list with radio buttons
 
   @layoutName {str}     - base styling hook
   @layoutOptions {arr}  - (optional) list of layout slugs
   @activeLayout {str}   - (optional) 
   @layoutVariant {str}  - (optional) 
   @layoutIcons {arr}    - (optional) override radio buttons with specific icons,
                           formatted like so: #{slug}-#{size}, e.g. ['grid-20','list-20'] 
#}
{% macro controlLayout(layoutName,layoutOptions = ['grid','list'],activeLayout = 'grid',layoutVariant = null,layoutIcons = []) %}
{% set hasIcons = (layoutIcons|length > 0) %}
<ul class="{{ layoutName }}-list{% if layoutVariant %} {{ layoutName }}--{{ layoutVariant }}{% endif %}">
    {% for layout in layoutOptions %}
    {% set layoutTitle = layout|title %}
    <li class="{{ layoutName }}-item"> 
        <div class="{{ layoutName }}-control">
            <input 
                id="{{ layout }}View"
                class="{{ layoutName }}-input" 
                type="radio" 
                name="layout-toggle"
                sprig
                s-val:layout="{{ layout }}"
                {% if activeLayout == layout %}checked{% endif %}
                />
            <label class="{{ layoutName }}-label {{ layoutName }}-label--{{ hasIcons ? 'svg' : 'faux' }}" for="{{ layout }}View">
                {% if hasIcons %}
                {% set currentIcon = layoutIcons|filter((idx,icon) => icon|split('-')[0] == layout) %}
                {% set iconPath = "/spritemap.svg#icon-#{currentIcon}" %}
                <svg class="{{ sortName }}-icon">
                    {# <use xlink:href="{{ rev(iconPath) }}"></use> #}
                    <use xlink:href="{{ alias('@assetBasePath' ~ iconPath) }}"></use>
                </svg>
                {% endif %}
                <span class="{{ layoutName }}-ghost">{{ layoutTitle }}</span>
            </label>
        </div>
        <span class="{{ layoutName }}-name">{{ layoutTitle }}</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# controlPaginationItem: 
   See styles/components/_controls.scss for styling
 
   @pageName {str}    - base styling hook
   @currentPage {int} - sprig-assigned current page
   @totalPages {int}  - sprig-assigned page total
   @lastPage {int}    - sprig-assigned last page
   @groupKey {str}    
   @groupValues {obj} 
   @iconSize {int}    
#}
{% macro controlPaginationItem(pageName,currentPage,totalPages,lastPage,groupKey,groupValues) %}
{% set pageSlug, pageIcons = groupValues.slug, groupValues.icons %}

{% for pageTrigger in groupValues.triggers %}
{% set isInactive = groupKey == 'back' ? (currentPage == 1) : ( groupKey == 'forward' ? (currentPage == totalPages) : (currentPage == pageTrigger)) %}
{% set pageUrl = pageTrigger %}
{% if pageSlug == 'nav' %}
    {% if pageTrigger == 'previous' %}
    {% set pageUrl = currentPage -1 %}
    {% elseif pageTrigger == 'next' %}
    {% set pageUrl = currentPage +1 %}
    {% else %}
    {% set pageUrl = pageTrigger == 'first' ? 1 : lastPage %}
    {% endif %}
{% endif %}
<li>
    <a 
        class="{{ pageName }}-{{ pageSlug }} {{ pageName }}-{{ pageSlug }}--{{ groupKey }}{{ isInactive ? ' _is-inactive' : '' }}" 
        href=""
        sprig
        s-val:page="{{ pageUrl }}"
        >
        <span class="{{ pageName }}-label">{{ pageSlug == 'nav' ? pageTrigger|title : pageTrigger }}</span>
        {% if pageIcons is not null %}
        {% set icon = pageIcons[loop.index0] %}
        {% set iconPath = "/spritemap.svg#icon-#{icon}" %}
        <svg class="{{ pageName }}-icon">
            {# <use xlink:href="{{ rev(iconPath) }}"></use> #}
            <use xlink:href="{{ alias('@assetBasePath' ~ iconPath) }}"></use>
        </svg>
        {% endif %}
    </a>
</li>
{% endfor %}
{% endmacro %}

{# controlPagination: 
   See styles/components/_controls.scss for styling
 
   @pageName {str}  - base styling hook
   @pageObj {obj}   - sprig pagination object
   @pageRange {int} - (optional) var to pass to sprig; spread of page links to display 
   @iconSize {int}  - (optional) 
#}
{% macro controlPagination(pageName,pageObj,pageRange = 5) %}
{% set currentPage, totalPages, lastPage = pageObj.current_page, pageObj.page_info.totalPages, pageObj.page_info.totalPages %}
<div class="{{ pageName }}"> 
    {% set paginationGroups = {
        'back': {
            'triggers': ['first','previous'], 
            'slug': 'nav', 
            'icons': ['dbl-chevron-left','chevron-left']
        },
        'pages': {
            'triggers': pageObj.page_info.getDynamicRange(pageRange), 
            'slug': 'num',
            'icons': null
        },
        'forward': {
            'triggers': ['next','last'], 
            'slug': 'nav',
            'icons': ['chevron-right','dbl-chevron-right']
        }
    }%}
    {% for groupKey, groupValues in paginationGroups %}
    <ul class="{{ pageName }}-group {{ pageName }}-group--{{ groupKey == 'pages' ? 'pages' : 'direction' }}">
        {{ _self.controlPaginationItem(pageName,currentPage,totalPages,lastPage,groupKey,groupValues) }}
    </ul>
    {% endfor %}
</div>
{% endmacro %}

{# controlTags: 
   See: styles/components/_controls.scss for styling

   @tagName {str}    - base styling hook
   @tagList {arr}    - list containing tags
#}
{% macro controlTags(tagName,tagList) %}
<ul class="{{ tagName }}">
    {% for tag in tagList %}
    {% set tagSlug = tag|slugify %}
    <li class="{{ tagName }}-item">
        <a 
            id="tag_{{ tagSlug }}"
            href=""
            sprig
            s-val:tag="{{ tagSlug }}">
            {{ tag.title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# controlTagsFilter: 
   See: styles/components/_controls.scss for styling

   @tagName {str}    - base styling hook
   @tagList {arr}    - list containing tags
   @activeTags {arr} - comma-separated string
   @iconSlug {str}   - optional
   @iconSize {int}   - optional
#}
{% macro controlTagsFilter(tagName,tagList,activeTags,iconSlug = null,iconSize = 20) %}
<ul class="{{ tagName }}">
    {% set tagArr = activeTags ? activeTags|split(',') : [] %}

    {% for tagItem in tagList %}

    {% set tagSlug = tagItem|slugify %}
    {% set isActive = (tagArr|length and (tagSlug in tagArr)) %}
    {% set tagValues = (isActive ? (tagArr|filter((v) => v != tagSlug)) : tagArr|merge([tagSlug]))|join(',') %}

    <li class="{{ tagName }}-item">
        <a 
            id="tags_{{ tagSlug }}"
            class="{{ tagName }}-trigger"
            href=""
            sprig
            s-val:tags="{{ tagValues }}">
            {{ tagItem.title }}
            {% if isActive %}
            {% if iconSlug %}
            {% set iconPath = "/spritemap.svg#icon-#{iconSlug}-#{iconSize}" %}
            <svg class="{{ tagName }}-icon">
                {# <use xlink:href="{{ rev(iconPath) }}"></use> #}
                <use xlink:href="{{ alias('@assetBasePath' ~ iconPath) }}"></use>
            </svg>
            {% else %}
            <span>&#215;</span>
            {% endif %}
            {% endif %}
        </a>
       
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# controlDimensionsItem: 

   @filterName {str}  - base styling hook
   @groupSlug {str}
   @itemSlug {str}
   @itemName {str}
   @isActive {bool}
#}
{% macro controlDimensionsItem(filterName,groupSlug,itemSlug,itemName,isActive) %}
   {% set closePath = "/spritemap.svg#icon-close-20" %}
   {% set groupId = (groupSlug == 'tags' ? (isActive ? 'remove-tag' : 'add-tag') : groupSlug) %}
   {% set itemId = "#{groupId}_#{itemSlug}" %}
    <li class="{{ filterName }}-item">
        <input 
            class="{{ filterName }}-input {{ filterName }}-input--faux"
            id="{{ itemId }}"
            type="checkbox"
            sprig
            name="{{ itemId }}"
            s-val:{{ groupId }}="{{ itemSlug }}"
            {{ isActive ? 'checked' : '' }}>
            <label 
                class="{{ filterName }}-trigger {{ filterName }}-trigger--tag"
                for="{{ groupSlug }}_{{ itemSlug }}">
                <span class="{{ filterName }}-label {{ filterName }}-label--tag">{{ itemName }}</span>
                
                <svg class="{{ filterName }}-icon {{ filterName }}-icon--remove">
                    <use xlink:href="{{ alias('@assetBasePath' ~ closePath) }}"></use>
                </svg>
            </label>
    </li>
{% endmacro %}

{# controlDimensions: 
   See: styles/components/_controls.scss for styling

   @filterName {str}  - base styling hook
   @filterVariant {str} - styling variant
   @filterLabel {str} -
   @filterList {arr}  - array of filter objects
   @resultsId {str}   - results namespace to which dimensions apply
   @overlay    {str}  - (on|off) overlay state (sm viewport or larger only)
   @iconSize   {int}  - (optional)
#}
{% macro controlDimensions(filterName,filterVariant = "",filterLabel,filterList,resultsId,sort,layout,overlay = "off",iconSize = 20) %}

{# If active tags... #}
{% set activeTags = filterList|map(obj => (obj.slug == 'tags' ? obj.active : ''))|join('') %} 
{# If active section... #}
{% set activeSection = filterList|map(obj => (obj.slug == 'section' ? obj.active : ''))|join('') %} 
{# If active project status... #}
{% set activeProjectStatus = filterList|map(obj => (obj.slug == 'status' ? obj.active : ''))|join('') %} 

{# Tags: {{ activeTags }}
Section: {{ activeSection }} #}

{# Icons #}
{% set plusPath = "/spritemap.svg#icon-plus-#{iconSize}" %}
{% set caretDnPath = "/spritemap.svg#icon-caret-down-#{iconSize}" %}
{% set caretUpPath = "/spritemap.svg#icon-caret-up-#{iconSize}" %}
{% set closePath = "/spritemap.svg#icon-close-#{iconSize}" %}
{% set arrowPath = "/spritemap.svg#icon-arrow-right-#{iconSize}" %}

<div class="{{ filterName }} {{ filterName }}--{{ filterVariant }}">

    {# CRITERIA #}
    <div class="{{ filterName }}-controls">
        <button 
            class="{{ filterName }}-trigger {{ filterName }}-trigger--filter"
            role="button"
            type="button"
            sprig
            s-val:tags="{{ activeTags }}"
            s-val:section="{{ activeSection }}"
            s-val:overlay="on"
            data-a11y-dialog-show="{{ filterName }}_dialog">
            <span class="{{ filterName }}-label {{ filterName }}-label--headline">{{ filterLabel }}</span>
           
            <svg class="{{ filterName }}-icon {{ filterName }}-icon--plus">
                <use xlink:href="{{ alias('@assetBasePath' ~ plusPath) }}"></use>
            </svg>
            <svg class="{{ filterName }}-icon {{ filterName }}-icon--caret">
                <use xlink:href="{{ alias('@assetBasePath' ~ caretDnPath) }}"></use>
            </svg>
        </button>

        {# LAYOUT #}
        <div class="{{ filterName }}-layout">
            <h4 class="{{ filterName }}-layout-title">Toggle View</h4>
            {% set layoutName,layoutOptions,activeLayout,layoutVariant = "#{filterName}-layout",['grid','list'],layout,'' %}
            {{ _self.controlLayout(layoutName,layoutOptions,activeLayout,layoutVariant) }}
        </div>

        {# SORT #}
        {% set sortOptions = ['asc','desc'] %}
        <button 
            class="{{ filterName }}-trigger {{ filterName }}-trigger--sort"
            role="button"
            type="button"
            aria-label="Sort Alphabetically by Title"
            id="sort"
            sprig
            s-trigger="click"
            s-val:sort="{{ sortOptions|filter((option) => option != sort)|join('') }}"
            >
            <span class="{{ filterName }}-label {{ filterName }}-label--headline">Sort By Name {% if sort == 'asc' %}(A-Z){% else %}(Z-A){% endif %}</span>
            <svg class="{{ filterName }}-icon {{ filterName }}-icon--caret">
                {% if sort == 'asc' %}
                <use xlink:href="{{ alias('@assetBasePath' ~ caretDnPath) }}"></use>
                {% else %}
                <use xlink:href="{{ alias('@assetBasePath' ~ caretUpPath) }}"></use>
                {% endif %}
            </svg>
        </button>

    </div>
   
    {# NOTE: 
        Ensure that sprig components and a11y overlay/dialog play nicely together:
        1. Set the overlay sprig var to true when dialog is open; false when closed.
        2. Persist active filters on open, close, and apply triggers
    #} 
    {# Dialog parent container #}
    <div 
        class="{{ filterName }}-dialog"
        id="{{ filterName }}_dialog"
        aria-labelledby="{{ filterName }}_dialog_title" 
        aria-hidden={{ overlay == "on" ? "false" : "true" }}>
        {# Dialog overlay #}
        <div 
            class="{{ filterName }}-overlay"
            data-a11y-dialog-hide="{{ filterName }}_dialog">
        </div>
        {# Dialog content container #}
        <div 
            class="{{ filterName }}-content"
            role="document"
            id="{{ filterName }}-content">
            <h3 
                class="{{ filterName }}-title {{ filterName }}-title--headline"
                id="{{ filterName }}_dialog_title">
                {{ filterLabel }}
            </h3>
            {# Dialog close #}
            <button 
                class="{{ filterName }}-trigger {{ filterName }}-trigger--close"
                id="close_dialog"
                role="button"
                type="button"
                sprig
                s-val:overlay="off"
                s-val:tags="{{ activeTags }}"
                s-val:section="{{ activeSection }}"
                data-a11y-dialog-hide="{{ filterName }}_dialog"
                aria-label="Close dialog">
                <span class="{{ filterName }}-label {{ filterName }}-label--action">Close</span>
                <svg class="{{ filterName }}-icon {{ filterName }}-icon--close">
                    <use xlink:href="{{ alias('@assetBasePath' ~ closePath) }}"></use>
                </svg>
            </button>

            {% if filterList|length %}
            {# If there are activeTags, split the string to create array #}
            {% set activeArr = activeTags ? activeTags|split(',') : [] %}
            {% set excludeList = ['about-us'] %}
            
            {% for filterGroup in filterList %}
            {% set groupSlug, groupTitle, groupList = filterGroup.slug, filterGroup.title, filterGroup.list %}
            <div class="{{ filterName }}-group {{ filterName }}-group--{{ groupTitle|slugify }}">
                <h4 class="{{ filterName }}-title {{ filterName }}-title--group">{{ groupTitle }}</h4>

                <ul class="{{ filterName }}-list">
                {% for item in groupList %}
                {% switch groupSlug %}

                    {% case 'section' %}
                    {% if item.displayText|slugify not in excludeList %}
                    {% set itemName = item.displayText %} 
                    {% set itemSlug = itemName == 'Research' ? 'projects' : item.displayText|slugify %}
                    {% set isActive = (activeSection == itemSlug) %}
                    {{ _self.controlDimensionsItem(filterName,groupSlug,itemSlug,itemName,isActive) }}
                    {% endif %}

                    {% case 'status' %}
                    {% set itemName = item.title %} 
                    {% set itemSlug = item.slug %}
                    {% set isActive = (activeProjectStatus == itemSlug) %}
                    {{ _self.controlDimensionsItem(filterName,groupSlug,itemSlug,itemName,isActive) }}

                    {% case 'tags' %}
                    {% set itemSlug, itemName = item|slugify, item.title %}
                    {% set isActive = (activeArr|length and (itemSlug in activeArr)) %}
                    {{ _self.controlDimensionsItem(filterName,groupSlug,itemSlug,itemName,isActive) }}

                    {% case 'date' %}
                    {# TODO: base date list on current section #}
                {% endswitch %}
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% endif %}

            <div class="{{ filterName }}-footer">
                <button 
                    class="{{ filterName }}-trigger {{ filterName }}-trigger--clear"
                    id="tags_clear"
                    role="button"
                    type="button"
                    sprig
                    s-val:tags="">
                    <span class="{{ filterName }}-label {{ filterName }}-label--action">Clear All</span>
                </button>

                <button 
                    class="{{ filterName }}-trigger {{ filterName }}-trigger--apply"
                    id="tags_apply"
                    role="button"
                    type="button"
                    sprig
                    s-val:tags="{{ activeTags }}"
                    s-val:overlay="off"
                    data-a11y-dialog-hide="{{ filterName }}_dialog"
                    aria-label="Close dialog">
                    <span class="{{ filterName }}-label {{ filterName }}-label--action">Apply Filters</span>
                    <svg class="{{ filterName }}-icon {{ filterName }}-icon--apply">
                        <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}