{% extends "layouts/_base.html" %}

{% import 'macros/_utils' as utils %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_cards' as cards %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_controls' as controls %}
{% import 'macros/_carousels' as carousels %}

{% block content %}
{% set openerImage = entry.homepageCover is not null and entry.homepageCover|length > 0 ? entry.homepageCover.one() : null %}
{% set openerSrc = "#{siteUrl}#{openerImage.url}" %}
{% set openerTagline = entry.openerTagline is not null ? entry.openerTagline : null %}
{% set openerPrompt = entry.openerPrompt is not null ? entry.openerPrompt : null %}

{# Icons #}
{% set arrowPath = "/spritemap.svg#icon-arrow-right-20" %}

{# Features #}
{% set projectFeature, exFeature = null, null %}
{% set featureEntries = {
    'researchIndex': {
        'slug': 'projects',
        'fields': ['featuredProject','secondaryFeaturedProject']
    },
    'exhibitionsIndex': {
        'slug': 'exhibitions',
        'fields': ['featuredExhibition','secondaryFeaturedExhibition']
    }
}%}

{% for key, obj in featureEntries %}
    {% set slug, primary, secondary = obj.slug, obj.fields[0], obj.fields[1] %}
    {% set indexQuery = craft.entries.section(key).one() %}
    {% set randomQuery = craft.entries.section(slug).order('RAND()').limit(10) %}
    {# avoid redundancy by excluding ids #}
    {% set feature1 = indexQuery[primary]|length > 0 ? indexQuery[primary].one() : null %}
    {% set feature2 = indexQuery[secondary]|length > 0 ? indexQuery[secondary].one() : null %}
    
    {% set primaryFeature = feature1 ? feature1 : (feature2 ? feature2 : randomQuery.one() ) %}
    {% set secondaryFeature = (feature2 and primaryFeature.id != feature2.id) ? feature2 : randomQuery.id('not ' ~ primaryFeature.id).one() %}
    {% set randomFeature = randomQuery.id('and, not ' ~ primaryFeature.id ~ ', not ' ~ secondaryFeature.id).one() %}

    {% set featureObj = {
        'features': {
            'primary': primaryFeature, 
            'secondary': secondaryFeature,
            'random': randomFeature
        }
    }%}

    {% set featureEntries = featureEntries|merge({ (key): featureObj }) %}

{% endfor %}

<section class="homepageCover">
    <div class="homepageCover-title">
        <h1 class="homepageCover-tagline">{{ openerTagline|striptags('<em>')|raw }}</h1>
        <h2 class="homepageCover-prompt">{{ openerPrompt|raw }}</h2>
    </div>
    <div class="homepageCover-asset parallax" style='background-image: url({{ openerSrc }});'></div>
</section>

<section class="homepageExplore">
    {% set primaryProject = featureEntries['researchIndex']['features']['primary'] %}
    {% set primaryEx = featureEntries['exhibitionsIndex']['features']['primary'] %}
    {% set secondaryProject = featureEntries['researchIndex']['features']['secondary'] %}
    {% set secondaryEx = featureEntries['exhibitionsIndex']['features']['secondary'] %}

    {# TODO: ENTRY SLIDER #}

    <article class="homepageExplore-feature homepageExplore-feature--project">
        <h4 class="homepageExplore-feature-label">Research Project</h4>
        <h5 class="homepageExplore-feature-title">{{ primaryProject.title }}</h5>
        <a 
            class="homepageExplore-action homepageExplore-action--link"
            href="{{ siteUrl }}/{{ primaryProject.uri }}">
            <span class="homepageExplore-action-label">Learn More</span>
            <svg 
                class="homepageExplore-action-icon">
                <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
            </svg> 
        </a>
    </article>
    
    <article class="homepageExplore-feature homepageExplore-feature--exhibition">
        <h4 class="homepageExplore-feature-label">Exhibition</h4>
        <h5 class="homepageExplore-feature-title">{{ primaryEx.title }}</h5>
        <a 
            class="homepageExplore-action homepageExplore-action--link"
            href="{{ siteUrl }}/{{ primaryEx.uri }}">
            <span class="homepageExplore-action-label">Learn More</span>
            <svg 
                class="homepageExplore-action-icon">
                <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
            </svg> 
        </a>
    </article>
    
    <article class="homepageExplore-feature homepageExplore-feature--project">
        <h4 class="homepageExplore-feature-label">Research Project</h4>
        <h5 class="homepageExplore-feature-title">{{ secondaryProject.title }}</h5>
        <a 
            class="homepageExplore-action homepageExplore-action--link"
            href="{{ siteUrl }}/{{ secondaryProject.uri }}">
            <span class="homepageExplore-action-label">Learn More</span>
            <svg 
                class="homepageExplore-action-icon">
                <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
            </svg> 
        </a>
    </article>
</section>

<section class="homepageEntries homepageEntries--people">
    <div class="homepageEntries-intro">
        <h2 class="homepageEntries-title">2021-2022 Visiting Fellows</h2>
        <div class="homepageEntries-desc">
            <div class="homepageEntries-body">
                The best minds from around the world converge at the Collegium: academics, artists, and boundary-breaking practitioners who all share a deep commitment to collaboration.
            </div>
            <a 
                class="homepageEntries-action homepageEntries-action--link"
                href="{{ siteUrl }}/{{ secondaryProject.uri }}">
                <span class="homepageEntries-action-label">Learn More</span>
                <svg 
                    class="homepageEntries-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="homepageEntries-list">
    {% set fellows = craft.entries()
        .section('people') 
        .search('personType:visiting-fellow' ~ ' AND personTypeStatus:current')
        .all()
    %}
    {% set personSizes = utils.getAssetSizes('people','homepage') %}
    {% set personObj = {
        'assetSizes': personSizes,
        'cardVariant': 'homepage'
    } %}
    {# {% for person in fellows %}
        {{ cards.cardArticle(cardName,cardEntry,cardObj) }}
    {% endfor %} #}

    {% set slideObj = {
        'slides': fellows,
        'group': 3,
        'cardName': 'currentFellow',
        'cardObj': personObj 
    }%}

    {{ carousels.cardCarousel(slideObj) }}

    </div>
</section>

{% set eventsIntro = craft.entries.section('eventsIndex').one().openerText is not null and craft.entries.section('eventsIndex').one().openerText != '' ? craft.entries.section('eventsIndex').one().openerText : 'this is intro text' %}
{% set eventsQuery = craft.entries.section('events') %}
{% set timedIds = dates.toTheTimeMachine(eventsQuery,true) %}
{% set upcomingEvents = eventsQuery.id(timedIds|json_decode) %}
<section class="homepageEntries homepageEntries--events">
    <div class="homepageEntries-intro">
        <h2 class="homepageEntries-title">Events</h2>
        <div class="homepageEntries-desc">
            <div class="homepageEntries-body">
                {{ eventsIntro }}
            </div>
            <a 
                class="homepageEntries-action homepageEntries-action--link"
                href="{{ siteUrl }}events">
                <span class="homepageEntries-action-label">Learn More</span>
                <svg 
                    class="homepageEntries-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ arrowPath) }}"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="homepageEntries-list">
    {% set eventSizes = utils.getAssetSizes('events','homepage') %}
    {% set eventObj = {'assetSizes': eventSizes} %}
    {% for event in upcomingEvents %}
        {% set cardName,cardEntry,cardObj,cardVariant = 'upcomingEvent',event,eventObj,'homepage' %}
        {{ cards.cardArticle(cardName,cardEntry,cardObj,cardVariant) }}
    {% endfor %} 
    </div>
</section>

<section class="homepageEntries homepageEntries--news">
    <div class="homepageEntries-intro">
        <h2 class="homepageEntries-title">News &amp; Announcements</h2>

    </div>
</section>

{% endblock %}