{% extends "layouts/_base.html" %}

{% import 'macros/_utils' as utils %}
{% import 'macros/_dates' as dates %}
{% import 'macros/_cards' as cards %}
{% import 'macros/_assets' as assets %}
{% import 'macros/_controls' as controls %}
{% import 'macros/_carousels' as carousels %}

{% block content %}

{# Opener Image #}
{% set openerImage = entry.homepageCover is not null and entry.homepageCover|length > 0 ? entry.homepageCover.one() : null %}
{% set openerSizes = utils.getAssetSizes('homepage','opener')|json_decode %}
{% set smOpenerSrc = assets.assetSrc(openerImage,openerSizes,'sm') %}
{% set lgOpenerSrc = assets.assetSrc(openerImage,openerSizes,'lg') %}


{# Opener Text #}
{% set openerTagline = entry.openerTagline is not null ? entry.openerTagline : null %}
{% set openerPrompt = entry.openerPrompt is not null ? entry.openerPrompt : null %}

{# Icons #}
{% set arrowRightPath = "/spritemap.svg#icon-arrow-right-20" %}
{% set arrowDownPath = "/spritemap.svg#icon-arrow-down-20" %}

{# Features #}
{% set keyFeature = entry.homepageProjectFeature is not null and entry.homepageProjectFeature|length > 0 ? entry.homepageProjectFeature.one() : null %}
{% set featureSet = entry.homepageFeatureCards is not null and entry.homepageFeatureCards|length > 0 ? entry.homepageFeatureCards.all() : null %}    

<section 
    class="homepageCover" 
    data-parallax-container="cover">
    <div 
        class="homepageCover-title" 
        data-parallax-title="cover">
        <h1 class="homepageCover-tagline">{{ openerTagline|striptags('<em>')|raw }}</h1>
        <h2 class="homepageCover-prompt">{{ openerPrompt|raw }}</h2>
        <button 
            class="homepageCover-action homepageCover-action--ghost"
            data-parallax-title-trigger="cover">
            <span class="homepageCover-action-label">Click Me</span>
            <svg 
                class="homepageCover-action-icon">
                <use xlink:href="{{ alias('@assetBasePath' ~ arrowDownPath) }}"></use>
            </svg>
        </button>
    </div>

    {% if keyFeature %}
    {% set spotlightBlock = keyFeature.spotlightBlock is not null and keyFeature.spotlightBlock|length > 0 ? keyFeature.spotlightBlock.all() : null %}
    {% set keyQuestions = [] %}
    {% if spotlightBlock %}  
        {% for spotlight in spotlightBlock %}
            {% set spotlightType = spotlight.type %}
            {% if spotlightType == 'question' %}
            {% set keyQuestions = keyQuestions|merge([spotlight]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div 
        class="homepageFeature"
        data-parallax-feature="cover">
        <article class="homepageFeature-article">
            <h3 class="homepageFeature-label">Research Project</h3>
            <h4 class="homepageFeature-title">{{ keyFeature.title }}</h4>
            {% if keyQuestions %}
            {# let's just select the 1st one #}
            {% set question = keyQuestions[0] %}
            <div class="homepageFeature-question">{{ question.body }}</div>
            {% endif %}
            <a 
                class="homepageFeature-action homepageFeature-action--ghost"
                href="{{ siteUrl }}{{ keyFeature.uri }}"
                title=""
                data-parallax-follow="cover">
                <span class="homepageFeature-action-label">Learn More</span>
                <svg class="homepageFeature-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ arrowRightPath) }}"></use>
                </svg>
            </a>
        </article>
    </div>
    {% endif %}

    <div 
        class="homepageCover-asset" 
        style='background-image: url({{ lgOpenerSrc|trim }});'
        data-parallax-image="cover"></div>

</section>

<section class="homepageExplore">
    {% set featureCall = entry.homepageCallToActionCard is not null and entry.homepageCallToActionCard|length > 0 ? entry.homepageCallToActionCard.one() : null %}
    {% if featureCall %}
    {% set featurePrompt, featureAction = featureCall['prompt'], featureCall['action'] %}
    {% endif %}
    {% set featureSlideObj = {
        'cardName': 'homepageFeatures',
        'variant': 'features',
        'slides': featureSet,
        'cardCall': {
            'prompt': featureCall ? featurePrompt : null,
            'action': featureCall ? featureAction : null,
            'url': 'research'
        },
        'group': 2,
        'scrollable': true
    }%}
    {{ carousels.featureCarousel('homepageCarousel',featureSlideObj) }}
</section>

{% set excludeTabs = ['opener','features'] %}
{% for tab in entry.getFieldLayout().getTabs() if tab.name|slugify not in excludeTabs  %}
{% set tabName, tabSlug = tab.name, tab.name|slugify %}
{% set tabTitle, tabOpener = "#{tabSlug}Title", "#{tabSlug}Opener" %}
{% set tabIndex = tabSlug == 'news' ? 'news': "#{tabSlug}Index" %}
{# TODO: news goes to /about #}
{% set tabURL = craft.entries().section(tabIndex).one().uri %}
{% set cardCall = entry["#{tabSlug}Card"] is not null and entry["#{tabSlug}Card"]|length > 0 ? entry["#{tabSlug}Card"].one() : null %}
{% if cardCall %}
{% set cardPrompt, cardAction = cardCall['prompt'], cardCall['action'] %}
{% switch tabSlug %}
    {% case 'news' %}
    {% set cardUrl = 'about#news-announcements' %}
    {% case 'people' %}
    {% set cardUrl = 'people?query=&section=people&tags=&person=visiting-fellow&page=1' %}
    {% case 'projects' %}
    {% set cardUrl = 'research' %}
    {% default %}
    {% set cardUrl = tabSlug %}
{% endswitch %}
{% endif %}

{% set hasEntries = true %}
{% set cardObj = {
    'assetSizes': utils.getAssetSizes(tabSlug,'homepage'),
    'cardVariant': tabSlug
}%}
{% set slideObj = {
    'variant': tabSlug,
    'cardName': "#{tabSlug}Slide",
    'cardObj': cardObj,
    'cardCall': {
        'prompt': cardPrompt,
        'action': cardAction,
        'url': cardUrl
    }
}%}

{% switch tabSlug %}
{% case 'people' %}
    {% set tabEntries = craft.entries()
        .section('people') 
        .search('personType:visiting-fellow' ~ ' AND personTypeStatus:current')
        .all()
    %}
    {% set slideObj = slideObj|merge({
        'slides': tabEntries,
        'group': 3
    }) %}
{% case 'events' %}
    {% set eventsQuery = craft.entries.section('events') %}
    {% set timedIds = dates.toTheTimeMachine(eventsQuery,false,true)|json_decode %}
    {% set eventCount = timedIds|length %}
    {# TODO #}
    {% if eventCount < 10 %}{% endif %}
    {% set tabEntries = eventsQuery.id(timedIds) %}
    
    {% set slideObj = slideObj|merge({
        'slides': tabEntries,
        'group': 3
    }) %}
{% case 'news' %}
    {% set newsQuery = craft.entries.section('news') %}
    {% set isAgnostic, isFuture = true, false %}
    {% set timedIds = dates.toTheTimeMachine(newsQuery,isAgnostic,isFuture)|json_decode %}
    {% if timedIds|length > 0 %}
    {% set tabEntries = craft.entries.id(timedIds).limit(10).fixedOrder() %}
    {% set slideObj = slideObj|merge({
        'slides': tabEntries,
        'group': 4
    }) %}
    {% else %}
    {% set hasEntries = false %}
    {% endif %}
{% endswitch %}

{% if hasEntries %}
<section class="homepageEntries homepageEntries--{{ tabSlug }}">
    <div class="homepageEntries-intro">
        <h2 class="homepageEntries-title">{{ entry[tabTitle] }}</h2>
        <div class="homepageEntries-desc">
            {% if entry[tabOpener] %}
            <div class="homepageEntries-body">{{ entry[tabOpener] }}</div>
            <a 
                class="homepageEntries-action homepageEntries-action--link"
                href="{{ siteUrl }}{{ tabURL }}">
                <span class="homepageEntries-action-label">Learn More</span>
                <svg 
                    class="homepageEntries-action-icon">
                    <use xlink:href="{{ alias('@assetBasePath' ~ arrowRightPath) }}"></use>
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
    {{ carousels.cardCarousel('homepageCarousel',slideObj) }}
</section>
{% endif %}
{% endfor %}
{% endblock %}