
{% extends "layouts/_base.html" %}
{% import 'macros/_assets' as assets %}

{% block content %}
{# Define projects associated with Person #}


{{ entry.title }}

{# {% set imageName, imageVariant, imageObj = 'profileAsset', 'interior', entry.bioImage %}
{% set imageTransforms = [
    { width: 675 }, 
    { width: 500 }, 
    { width: 400 }, 
    { width: 300 } 
]%}
{% set aspectRatioObj,showCaption,imageBlock = {},false,{} %}
{% set imagerX = false %} #}

<div class="contentContainer">
    

   
</div>
{% endblock %}