<style>
.adminTip-list {
    margin-left: 2em;
    list-style-type: disc;
}
.adminTip-item {
    margin-bottom: 1em;
}
.adminTip-box {
    margin-top: 24px;
    background: #f3f7fc;
    padding: 1em;
    border-radius: 10px;
}
.adminTip-title {
    margin: 0 0 14px 0;
}
</style>

{% set currentProject = element %}
{% set relatedExhibitions = craft.entries()
    .section('exhibitions') 
    .search('relatedProject:' ~ currentProject ~ '')
    .all()
%}


{% if relatedExhibitions|length %}
<h2 class="adminTip-title">This project is related to:</h2>
{% if relatedExhibitions|length == 1 %}
{% set ex = relatedExhibitions[0] %}
{% if ex.isEditable() %}
<a href="{{ ex.cpEditUrl }}">{{ ex }}</a>
{% else %}
{{ ex }}
{% endif %}
{% else %}
<ul class="adminTip-list">
{% for ex in relatedExhibitions %}
    <li class="adminTip-item">
        {% if ex.isEditable() %}
        <a href="{{ ex.cpEditUrl }}">{{ ex }}</a>
        {% else %}
        {{ ex }}
        {% endif %}
    </li>
{% endfor %}
{% endif %}
</ul>
<p class="adminTip-box"><strong>Hint:</strong> To add/edit/remove a related exhibition, go to its admin page, click the "Related Project" tab, edit as needed.</p>
{% else %}
<h2 class="adminTip-title">This project is not related to an exhibition yet.</h2>
<p class="adminTip-box"><strong>Hint:</strong> To connect an exhibition, go to its admin page, click the "Related Project" tab, select this project.</p>
{% endif %}